<footer>
	<section id="info-boxes">
    	<div>
        	<h3>EXHIBIA GUARANTEE</h3>
            <p>Some text here</p>
        </div>
        <div>
        	<h3>EXHIBIA GUARANTEE</h3>
            <p>Some text here</p>
        </div>
        <div>
        	<h3>EXHIBIA GUARANTEE</h3>
            <p>Some text here</p>
        </div>
    </section>
    <section id="sub-menu">
    	<ul>
        	<li>ABOUT</li>
            <li>AFFILIATE PROGRAMME</li>
            <li>CONTACT US</li>
            <li>FAQ</li>
        </ul>
    </section>
    <div id="copy">
    	Exhibia 2011.
    </div>
</footer>
