{% extends 'site_base.html' %}
{% block body %}
	<div class="btn-group sorting" data-toggle="buttons-radio">
		<button class="btn btn-mini active">All</button>
	  	<button class="btn btn-mini">Fund</button>
	  	<button class="btn btn-mini">Bid</button>
	</div>
    <div class="scroller">
        <div class="scrollingtext">Something something scrolling to the left</div>
    </div>
    <div id="items_container" class="row items">
        {% include 'auctions/auctions.html' %}
    </div>
    
    <div id="chat" class="tabbed">
		<h3 class="tab-title">Chat</h3>
		<div class="container">
			<ul class="unstyled chat-container"></ul>
			<div class="input-prepend type-message">
				<span class="add-on"><i class="icon-envelope"></i></span>
				<input id="chat-msg" type="text" class="span2" />
			</div>
		</div>
	</div>
    
{% endblock %}
{% block extra_body %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.quicksand.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/item.js"></script>
    <script>
    $(document).ready(function() {
        socket = io.connect('http://{{ SOCKETIO_SERVER }}');
        //socket.connect();
        socket.on('news', function (data) {
            //console.log(data);
            //socket.emit('my other event', { my: 'data' });
        });
        function update_auctions(){
            socket.emit('update');
        }
        function update_all_items(){
            //  updates items waiting plegde
            $.post('{% url auctions_info %}', function(data){
                data = $.parseJSON(data);
                $.exhibia['items']= new Items(data);
                update_items_ui(data);
                //console.log('ADD_REMOVE');
                add_remove_auctions();
            });
        }
        setInterval(update_all_items, 10000);

        setInterval(update_auctions, 1000);

        socket.on('update', function(data){
            //  updates auctions running
            auctions = $.parseJSON(data['auctions']);
            $.exhibia['auctions'] = new Auctions(auctions);
            update_auctions_ui(auctions);
        });
        
        // User hits enter
        $('#chat-msg').keyup(function(e){ 
			var code = e.which;
			
			if(code==13) {
				send_message($(this).val());
				$(this).val('');
			}
		});
        
        socket.on('user_message', function(username, message, picture){
        	var chat_msg = $('<li />').addClass('row').hide();
        		chat_msg.html('<div class="span1"><img src="' + picture +'" class="img-circle" /></div><div class="span2"><span class="user-name">' + username +'</span>' + message +'</div>');
           $('#chat .chat-container').prepend(chat_msg);
           		chat_msg.slideDown();
        });
        
        $('.scrollingtext').bind('marquee', function() {
            var ob = $(this);
            var tw = ob.width();
            var ww = ob.parent().width();
            ob.css({ right: -tw });
            ob.animate({ right: ww }, 30000, 'linear', function() {
                ob.trigger('marquee');
            });
        }).trigger('marquee');

        $('.bid-btn').click(function(event){
            event.preventDefault();
            auction_id = $(this).attr('data-auctionid');
            $.post('/bid/ajax/' + auction_id + '/', function(data){
                switch(data['error']){
                    case 'AUTH_REQUIRED': redirect("{% url acct_login %}"); break;
                    case 'NOT_ENOUGH_CREDITS': alert("/buycredits/"); break;
                    case 'ALREADY_HIGHEST_BID': alert('ALREADY_HIGHEST_BID'); break;
                    case 'AUCTION_EXPIRED': alert('AUCTION_EXPIRED'); break;
                    case 'AUCTION_IS_NOT_READY_YET': alert('AUCTION_IS_NOT_READY_YET'); break;
                }
                get_account_bids(function(data){
                    $('#member_bids').text(data);
                });
                // TODO conditional to update bids
                //update_bids();
            });
        });
    });
    </script>
{% endblock %}
