{% extends 'site_base.html' %}
{% load compress %}


{% block extra_head_base %}
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.jcarousel.min.js"></script>
    <link href="{{ STATIC_URL }}funding.jcarousel.css" rel="stylesheet">
{% endblock extra_head_base %}

{% block body %}
	<div class="btn-group sorting" data-toggle="buttons-radio">
        <div class="fb-like" data-href="http://{{SITE_DOMAIN}}" data-send="false" data-layout="button_count" data-show-faces="false"></div>
        <div class="g-plusone" data-size="medium" data-href="http://{{SITE_DOMAIN}}" data-callback="gplus_callback"></div>
		<button class="btn btn-mini active" id="sort_by_name">All</button>
	  	<button class="btn btn-mini" id="sort_by_fund">Fund</button>
	  	<button class="btn btn-mini" id="sort_by_bid">Bid</button>
	</div>
    <div class="scroller">
        <div class="scrollingtext">Something something scrolling to the left</div>
    </div>
    <div id="items_container" class="row items">
        {% include 'auctions/auctions.html' %}
    </div>

    <div>
        <div>
            {% for category in categories %}
                <a href="javascript:;" class="append_funding_carousel" data-id='{{ category.id }}'>{{ category.name }}</a>
            {% endfor %}
        </div>
        <div id="funding_container">
            {% include 'auctions/funding_carousel.html' %}
        </div>
    </div>

    <div id="chat" class="tabbed">
        <div class="social-stream">
            <ul class="unstyled stream">
            </ul>
        </div>
        <div class="divisor"></div>
        <div class="video-stream">
        </div>
        <h3 class="tab-title">Chat</h3>
        <div class="container chat-content">
            <ul class="unstyled chat-container">
                {% for message in messages %}
                    <li class="row">
                        <div class="span1">
                            <img src="{{ message.avatar }}" class="img-circle" title="{{ message.username }}" />
                        </div>
                        <div class="span2">
                            <span class="user-name">{{ message.username }}</span> {{ message.message }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% if not request.user.profile.is_banned %}
            <div class="input-prepend type-message">
                <span class="add-on"><i class="icon-envelope"></i></span>
                <input id="chat-msg" type="text" class="span2">
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}


{% block extra_js %}
    <script type="text/javascript">
        window.user_is_logged = '{{request.user.is_authenticated}}';
        window.facebook_appId = '{{settings.FACEBOOK_APP_ID}}';
    </script>

    {{block.super}}

    {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/socket.io.js"></script>
        <script type="text/javascript">$.exhibia = {};</script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/winnina.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/item.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/chat.js"></script>
    {% endcompress %}

    <script type="text/javascript">
    $(document).ready(function() {
        $('.append_funding_carousel').click(function() {
            var category_id = $(this).data('id');
            $.ajax({
                type: "GET",
                url: "/items/append-funding-carousel/",
                data: {'category_id': category_id },
                dataType: 'html',
                success: function (data) {
                    if(data) {
                        console.log(data);
                        $('#funding_container').html(data);
                    }
                    else {
                        $('#funding_container').html('<h1>There is no items for this category. You can try later!</h1>');
                    }
                }
            });
        });
    });
    </script>

{% endblock %}