
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="./css/bootstrap.css" rel="stylesheet">
	<link href="./css/exhibia.css" rel="stylesheet">
   <style type="text/css">
      .container {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons 
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">-->
  </head>

  <body>
	<div class="alert alert-info">
		<a class="close" data-dismiss="alert">×</a>
		A new item just got funded, click here to get it
	</div>
  
  
	<div class="navbar">
	  <div class="navbar-inner">
		<div class="container">
			<div class="navbar-search">
				<div class="logo">exhibia</div>
			</div>
			<form class="navbar-search pull-left">
			  <input type="text" class="search-query" placeholder="Search">
			</form>
		</div>
	  </div>
	</div>
	
    <div class="container">
      <div class="page-header">
        <div class="pagination">
		  <ul>
			<li class="arrow"><a href="#">&lt;</a></li>
    	<li><a href="#">Apple</a></li>
		<li><a href="#">Entertaiment</a></li>
        <li><a href="#">Clothing</a></li>
        <li><a href="#">Accessories</a></li>
        <li><a href="#">Gadgets</a></li>
        <li><a href="#">Other stuff</a></li>
        <li class="arrow"><a href="#">&gt;</a></li>
		  </ul>
		</div>
      </div>
<form id="filter">
 <fieldset>
<br />
<ul class="mainsort">
   <li style="width: 40px;"><label>Phase:</label></li>
   <li style="width: 40px;"><label><input style="position: absolute;margin-top: 1px;" type="radio" name="type" value="all" checked="checked">All</label></li>
    <li style="width:45px"><label><input style="position: absolute;margin-top: 1px;" type="radio" name="type" value="util">Bid</label></li>
    <li style="width:53px;"><label><input style="position: absolute;margin-top: 1px;" type="radio" name="type" value="app">Fund</label></li>
 </ul>
 </fieldset>
<!--  <fieldset>
    <legend>Sort by</legend>
    <label><input type="radio" name="sort" value="size" checked="checked">Size</label>
    <label><input type="radio" name="sort" value="name">Name</label>      
  </fieldset>
-->
</form>		
      <div class="row items" style="width:990px; ">

<ul id="applications" class="image-grid" style="list-style-type: none;">
  <li data-id="id-1" data-type="util" class="span3" style="margin-bottom: 10px;">
          <h2><a href="item_exhibit.html"> 16GB Nikon D3100 DSLR Camera</a></h2>
          <a href="item_exhibit.html"><img class="product" src="products/item1.jpg" /></a><hr/>
		  <h1>16 seconds</h1>
		  <h6>Tick time: <span>30 seconds</span></h6><hr/>
		  <h5><img class="social" src="img/facebook-16x16.png" /></h5><hr/>
          <p><a class="btn btn-large" href="#">BID</a></p>
  </li>
  <li data-id="id-2" data-type="util" class="span3" style="margin-bottom: 10px;">
          <h2>LG Infinia 47-Inch 3D HDTV</h2>
          <img class="product" src="products/item3.jpg" /><hr/>
		  <h1>20 seconds</h1>
		  <h6>Tick time: <span>30 seconds</span></h6><hr/>
		  <h5><img class="social" src="img/google-16x16.png" /></h5><hr/>
          <p><a class="btn btn-large" href="#">BID</a></p>
  </li>
  <li data-id="id-3" data-type="util" class="span3" style="margin-bottom: 10px;">
          <h2> LG Infinia 47-Inch 3D HDTV </h2>
          <img class="product" src="products/item3.jpg" /><hr/>
		  <h1>20 seconds</h1>
		  <h6>Tick time: <span>30 seconds</span></h6><hr/>
		  <h5><img class="social" src="img/google-16x16.png" /></h5><hr/>
          <p><a class="btn btn-large" href="#">BID</a></p>
  </li>
  <li data-id="id-4" data-type="util" class="span3" style="margin-bottom: 10px;">
          <h2> LG Infinia 47-Inch 3D HDTV </h2>
          <img class="product" src="products/item3.jpg" /><hr/>
		  <h1>20 seconds</h1>
		  <h6>Tick time: <span>30 seconds</span></h6><hr/>
		  <h5><img class="social" src="img/google-16x16.png" /></h5><hr/>
          <p><a class="btn btn-large" href="#">BID</a></p>
  </li>
  <li data-id="id-5" data-type="app" class="span3" style="margin-bottom: 10px;">
          <h2>Asus Transformer Prime TF201 Mobile Docking</h2>
          <img class="product" src="products/item4.jpg" /><hr />
		  <div class="progress progress-info progress-striped active">
			  <div class="bar" style="width: 63%;">63%</div>
		  </div><hr/>
		  <div class="funded" style="height: 45px;">
				<h7 class="fundha"><span>$120</span>FUNDED</h7>
				<h7 class="fundhb"><span>24</span>BACKERS</h7>
			</div><hr/>
          <p><a class="btn btn-large fund" data-toggle="modal" href="#">FUND</a></p>
  </li>
  <li data-id="id-6" data-type="app" class="span3" style="margin-bottom: 10px;">
          <h2>Asus Transformer Prime TF201 Mobile Docking</h2>
          <img class="product" src="products/item4.jpg" /><hr />
		  <div class="progress progress-info progress-striped active">
			  <div class="bar" style="width: 63%;">63%</div>
		  </div><hr/>
		  <div class="funded" style="height: 45px;">
				<h7 class="fundha"><span>$120</span>FUNDED</h7>
				<h7 class="fundhb"><span>24</span>BACKERS</h7>
			</div><hr/>
          <p><a class="btn btn-large fund" data-toggle="modal" href="#">FUND</a></p>
  </li>
  <li data-id="id-7" data-type="app" class="span3" style="margin-bottom: 10px;">
          <h2>Asus Transformer Prime TF201 Mobile Docking</h2>
          <img class="product" src="products/item4.jpg" /><hr />
		  <div class="progress progress-info progress-striped active">
			  <div class="bar" style="width: 63%;">63%</div>
		  </div><hr/>
		  <div class="funded" style="height: 45px;">
				<h7 class="fundha"><span>$120</span>FUNDED</h7>
				<h7 class="fundhb"><span>24</span>BACKERS</h7>
			</div><hr/>
          <p><a class="btn btn-large fund" data-toggle="modal" href="#">FUND</a></p>
  </li>
  <li data-id="id-8" data-type="app" class="span3" style="margin-bottom: 10px;">
          <h2>Asus Transformer Prime TF201 Mobile Docking</h2>
          <img class="product" src="products/item4.jpg" /><hr />
		  <div class="progress progress-info progress-striped active">
			  <div class="bar" style="width: 63%;">63%</div>
		  </div><hr/>
		  <div class="funded" style="height: 45px;">
				<h7 class="fundha"><span>$120</span>FUNDED</h7>
				<h7 class="fundhb"><span>24</span>BACKERS</h7>
			</div><hr/>
          <p><a class="btn btn-large fund" data-toggle="modal" href="#">FUND</a></p>
  </li>
  <li data-id="id-9" data-type="util" class="span3" style="margin-bottom: 10px;">
          <h2><a href="item_exhibit.html"> 16GB Nikon D3100 DSLR Camera</a></h2>
          <a href="item_exhibit.html"><img class="product" src="products/item1.jpg" /></a><hr/>
		  <h1>16 seconds</h1>
		  <h6>Tick time: 30 seconds</h6><hr/>
		  <h5><img class="social" src="img/facebook-16x16.png" /></h5><hr/>
          <p><a class="btn btn-large" href="#">BID</a></p>
  </li>
  <li data-id="id-10" data-type="util" class="span3" style="margin-bottom: 10px;">
          <h2>LG Infinia 47-Inch 3D HDTV</h2>
          <img class="product" src="products/item3.jpg" /><hr/>
		  <h1>20 seconds</h1>
		  <h6>Tick time: <span>30 seconds</span></h6><hr/>
		  <h5><img class="social" src="img/google-16x16.png" /></h5><hr/>
          <p><a class="btn btn-large" href="#">BID</a></p>
  </li>
  <li data-id="id-11" data-type="util" class="span3" style="margin-bottom: 10px;">
          <h2> LG Infinia 47-Inch 3D HDTV </h2>
          <img class="product" src="products/item3.jpg" /><hr/>
		  <h1>20 seconds</h1>
		  <h6>Tick time: <span>30 seconds</span></h6><hr/>
		  <h5><img class="social" src="img/google-16x16.png" /></h5><hr/>
          <p><a class="btn btn-large" href="#">BID</a></p>
  </li>
  <li data-id="id-12" data-type="util" class="span3" style="margin-bottom: 10px;">
          <h2> LG Infinia 47-Inch 3D HDTV </h2>
          <img class="product" src="products/item3.jpg" /><hr/>
		  <h1>20 seconds</h1>
		  <h6>Tick time: <span>30 seconds</span></h6><hr/>
		  <h5><img class="social" src="img/google-16x16.png" /></h5><hr/>
          <p><a class="btn btn-large" href="#">BID</a></p>
  </li>
  <li data-id="id-13" data-type="app" class="span3" style="margin-bottom: 10px;">
          <h2>Asus Transformer Prime TF201 Mobile Docking</h2>
          <img class="product" src="products/item4.jpg" /><hr />
		  <div class="progress progress-info progress-striped active">
			  <div class="bar" style="width: 63%;">63%</div>
		  </div><hr/>
		  <div class="funded" style="height: 45px;">
				<h7 class="fundha"><span>$120</span>FUNDED</h7>
				<h7 class="fundhb"><span>24</span>BACKERS</h7>
			</div><hr/>
          <p><a class="btn btn-large fund" data-toggle="modal" href="#">FUND</a></p>
  </li>
  <li data-id="id-14" data-type="app" class="span3" style="margin-bottom: 10px;">
          <h2>Asus Transformer Prime TF201 Mobile Docking</h2>
          <img class="product" src="products/item4.jpg" /><hr />
		  <div class="progress progress-info progress-striped active">
			  <div class="bar" style="width: 63%;">63%</div>
		  </div><hr/>
		  <div class="funded" style="height: 45px;">
				<h7 class="fundha"><span>$120</span>FUNDED</h7>
				<h7 class="fundhb"><span>24</span>BACKERS</h7>
			</div><hr/>
          <p><a class="btn btn-large fund" data-toggle="modal" href="#">FUND</a></p>
  </li>
  <li data-id="id-15" data-type="app" class="span3" style="margin-bottom: 10px;">
          <h2>Asus Transformer Prime TF201 Mobile Docking</h2>
          <img class="product" src="products/item4.jpg" /><hr />
		  <div class="progress progress-info progress-striped active">
			  <div class="bar" style="width: 63%;">63%</div>
		  </div><hr/>
		  <div class="funded" style="height: 45px;">
				<h7 class="fundha"><span>$120</span>FUNDED</h7>
				<h7 class="fundhb"><span>24</span>BACKERS</h7>
			</div><hr/>
          <p><a class="btn btn-large fund" data-toggle="modal" href="#">FUND</a></p>
  </li>
  <li data-id="id-16" data-type="app" class="span3" style="margin-bottom: 10px;">
          <h2>Asus Transformer Prime TF201 Mobile Docking</h2>
          <img class="product" src="products/item4.jpg" /><hr />
		  <div class="progress progress-info progress-striped active">
			  <div class="bar" style="width: 63%;">63%</div>
		  </div><hr/>
		  <div class="funded" style="height: 45px;">
				<h7 class="fundha"><span>$120</span>FUNDED</h7>
				<h7 class="fundhb"><span>24</span>BACKERS</h7>
			</div><hr/>
          <p><a class="btn btn-large fund" data-toggle="modal" href="#">FUND</a></p>
  </li>
  <li data-id="id-17" data-type="app" class="span3" style="margin-bottom: 10px;">
          <h2>Asus Transformer Prime TF201 Mobile Docking</h2>
          <img class="product" src="products/item4.jpg" /><hr />
		  <div class="progress progress-info progress-striped active">
			  <div class="bar" style="width: 63%;">63%</div>
		  </div><hr/>
		  <div class="funded" style="height: 45px;">
				<h7 class="fundha"><span>$120</span>FUNDED</h7>
				<h7 class="fundhb"><span>24</span>BACKERS</h7>
			</div><hr/>
          <p><a class="btn btn-large fund" data-toggle="modal" href="#">FUND</a></p>
  </li>
  <li data-id="id-18" data-type="app" class="span3" style="margin-bottom: 10px;">
          <h2>Asus Transformer Prime TF201 Mobile Docking</h2>
          <img class="product" src="products/item4.jpg" /><hr />
		  <div class="progress progress-info progress-striped active">
			  <div class="bar" style="width: 63%;">63%</div>
		  </div><hr/>
		  <div class="funded" style="height: 45px;">
				<h7 class="fundha"><span>$120</span>FUNDED</h7>
				<h7 class="fundhb"><span>24</span>BACKERS</h7>
			</div><hr/>
          <p><a class="btn btn-large fund" data-toggle="modal" href="#">FUND</a></p>
  </li>
  <li data-id="id-19" data-type="app" class="span3" style="margin-bottom: 10px;">
          <h2>Asus Transformer Prime TF201 Mobile Docking</h2>
          <img class="product" src="products/item4.jpg" /><hr />
		  <div class="progress progress-info progress-striped active">
			  <div class="bar" style="width: 63%;">63%</div>
		  </div><hr/>
		  <div class="funded" style="height: 45px;">
				<h7 class="fundha"><span>$120</span>FUNDED</h7>
				<h7 class="fundhb"><span>24</span>BACKERS</h7>
			</div><hr/>
          <p><a class="btn btn-large fund" data-toggle="modal" href="#">FUND</a></p>
  </li>
  <li data-id="id-20" data-type="app" class="span3" style="margin-bottom: 10px;">
          <h2>Asus Transformer Prime TF201 Mobile Docking</h2>
          <img class="product" src="products/item4.jpg" /><hr />
		  <div class="progress progress-info progress-striped active">
			  <div class="bar" style="width: 63%;">63%</div>
		  </div><hr/>
		  <div class="funded" style="height: 45px;">
				<h7 class="fundha"><span>$120</span>FUNDED</h7>
				<h7 class="fundhb"><span>24</span>BACKERS</h7>
			</div><hr/>
          <p><a class="btn btn-large fund" data-toggle="modal" href="#">FUND</a></p>
  </li>
</ul>
</div>

      <hr>
	<div class="navbar navbar-fixed-bottom">
	  <div class="navbar-inner">
		<div class="container">
			<ul class="nav share">
				<li class="fb-login"><a href="#"><img src="img/like.png" /> Get 3 Bids</a></li>
				<li class="tw-login"><a href="#"><img src="img/tweet.png" /> Get 3 Bids</a></li>
				<li class="gp-login"><a href="#"><img src="img/plus.png" /> Get 3 Bids</a></li>
			</ul>
<ul class="nav woitms">
				<li class="bids-lft">Bids Left:<span>24</span></li>
				<li class="won-itmsm"><a href="#myModal" data-toggle="modal" href="#myModal" >Won Items<span>4</span></a></li>
</ul>
			<ul class="nav navchat">
			  <li class="chat">
				<a id="chat-toggle" href="#">Chat</a>
				<div class="chat-box">
					<div class="container">
						<ul class="unstyled">
							<li>
								<div class="avatar"><img src="img/avatar-googleplus.png" /></div>
								<div><strong>Bidder1:</strong> Hey</div>
							</li>
							<li>
								<div class="avatar"><img src="img/avatar-twitter.png" /></div>
								<div><strong>Bidder2:</strong> Bidder1 dont bid on my item</div>
							</li>
							<li>
								<div class="avatar"><img src="img/avatar-facebook.png" /></div>
								<div><strong>Bidder3:</strong> How does this work</div>
							</li>
						</ul>
						<div class="type">
							<div class="input-prepend">
								<span class="add-on"><i class="icon-comment"></i></span>
								<input type="text" class="span2" place-holder="Type here..">
							</div>
						</div>
					</div>
				</div>
			  </li>
			</ul>
		</div>
	  </div>
	</div>
	
 <div class="modal" id="myModal" style="display: none;">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Items you have won!</h3>
  </div>
  <div class="modal-body">
<div class="bidbacklist" style="border-bottom: 1px dotted silver">
	<p><a href=""><img src="products/item1.jpg" width="50" height="50" />Some Product</a><br />Won on: Apr 12 <a href="ship_item.html" class="btn-procordr">Pay Shipping Fees</a></p>
</div>
<div class="bidbacklist" style="border-bottom: 1px dotted silver">
	<p><a href=""><img src="products/item2.jpg" width="50" height="50"  />Some Other Product </a><br />Won on: Apr 12<a href="ship_item.html" class="btn-procordr">Pay Shipping Fees</a></p>
</div>
<div class="bidbacklist" style="border-bottom: 1px dotted silver">
	<p><a href=""><img src="products/item3.jpg" width="50" height="50"  />Some Other Other Product</a><br />Won on: Apr 12<a href="ship_item.html" class="btn-feded">Processing Order</a></p>
</div>
<div class="bidbacklist" style="border-bottom: 1px dotted silver">
	<p><a href=""><img src="products/item4.jpg" width="50" height="50"  />Some Other Other Other Product </a><br />Won on: Apr 12<a href="testimonial.html" class="btn-devar">Post Testimonial</a></p>
</div>
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal"  class="btn">Close</a>
  </div>
</div>	
   <footer>
		<div class="row">
			<div class="span2"><p>&copy; Copyright Socially Funded Pay-Per-Bid Auction</p></div>
			<div class="span2">
				<ul class="nav nav-tabs nav-stacked">
					<li><a href="#">About Us</a></li>
					<li><a href="#">FAQ's</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Privacy Policy</a></li>
					
				</ul>
			</div>
			<div class="span2">
				<ul class="nav nav-tabs nav-stacked">
					<li><a href="#" title="">How it works? (FAQ)</a></li>
					<li><a href="#" title="">Bidding</a></li>
					<li><a href="#" title="">Shipment &amp; Delivery</a></li>
					<li><a href="#" title="">Returns &amp; Warranties</a></li>
				</ul>
			</div>
			<div class="span3">
				<ul class="nav nav-tabs nav-stacked">
					<li><a href="#" title="">Payment Methods &amp; Security</a></li>
					<li><a href="#" title="">Technical Information</a></li>
					<li><a href="#">Blog</a></li>
				</ul>
			</div>
		</div>
      </footer>

    </div> <!-- /container -->

	<div class="modal hide" id="fundModal" style="width: 580px;">
	  <div class="modal-header">
		<a class="close" data-dismiss="modal">x</a>
		<h3>Fund item</h3>
	  </div>
	  <div class="modal-body">
	<div class="backitm" style="">
			<form class="form-horizontal">
				<fieldset>
				  <div class="control-group">
					<label class="control-label" style="font-size: 30px;margin-top: 15px;" for="uptou">Up to you</label>
					<div class="controls">
					  <input type="text" style="padidng: 7px;height: 57px;font-size: 30px;" class="input" id="uptou" placeholder="minimum $1">
					</div>
				  </div>

				  <div class="control-group">
					<label class="control-label" for="optionsCheckbox"><h3>Select package</h3></label>
					<div style="clear: both"></div>
					<div class="controls" style="float: left; width: 85px;margin-left: 0px;">
					  <label class="radio">
							<div class="btn btn-extrabig" style="">$10<h6>10 BIDS</h6></div>
						<input type="radio" style="position: absolute" id="optionsCheckbox" name="option5" value="option1">
					  </label>
					</div>
					<div class="controls" style="float: left; width: 85px;margin-left: -2px;">
					  <label class="radio">
						<div class="btn btn-info btn-extrabig">$20<h6 style="color:white">20 BIDS</h6></div>
						<input type="radio" style="position: absolute" id="optionsCheckbox" name="option5" value="option2">
					  </label>
					</div>
					<div class="controls" style="float: left; width: 85px;margin-left: 0px;">
					  <label class="radio">
						<div class="btn btn-success btn-extrabig">$50<h6 style="color:white">50 BIDS</h6></div>
						<input type="radio" style="position: absolute" id="optionsCheckbox" name="option5" value="option3">
					  </label>
					</div>
					<div class="controls" style="float: left; width: 85px;margin-left: 0px;">
					  <label class="radio">
						<div class="btn btn-warning btn-extrabig">$100<h6 style="color:white">100 BIDS</h6></div>
						<input type="radio" style="position: absolute" id="optionsCheckbox" name="option5" value="option4">
					  </label>
					</div>
					<div class="controls" style="float: left; width: 85px;margin-left: 0px;">
					  <label class="radio">
						<div class="btn btn-inverse btn-extrabig">$500<h6 style="color:white">500 BIDS</h6></div>
						<input type="radio" style="position: absolute" id="optionsCheckbox" name="option5" value="option5">
					  </label>
					</div>
					<div class="controls" style="float: left; width: 85px;margin-left: 0px;">
					  <label class="radio">
						<div class="btn btn-danger btn-extrabig">$1000<h6 style="color:white">100 BIDS</h6></div>
						<input type="radio" style="position: absolute" id="optionsCheckbox" name="option5" value="option6">
					  </label>
					</div>
				  </div>
				  <hr>	<div class="control-group">
					<div class="controls">
						<img style="margin-left: -80px;" src="img/credit_cards_1.png" />
					</div>
				  </div>
				  <div class="form-actions">
					<a href="back_item.html"><button type="submit" class="btn btn-primary">Fund this item</button></a>
				  <a href="#" data-dismiss="modal" class="btn">Cancel</a></div>
				</fieldset>
			</form>
</div>
	  </div>
	</div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./js/jquery.js"></script>
	<script src="./js/bootstrap.js"></script>
	<script src="./js/jquery-1.4.1-and-plugins.min.js"></script>
	<script>
		$(document).ready(function() {

// Custom sorting plugin
(function($) {
  $.fn.sorted = function(customOptions) {
    var options = {
      reversed: false,
      by: function(a) { return a.text(); }
    };
    $.extend(options, customOptions);
    $data = $(this);
    arr = $data.get();
    arr.sort(function(a, b) {
      var valA = options.by($(a));
      var valB = options.by($(b));
      if (options.reversed) {
        return (valA < valB) ? 1 : (valA > valB) ? -1 : 0;				
      } else {		
        return (valA < valB) ? -1 : (valA > valB) ? 1 : 0;	
      }
    });
    return $(arr);
  };
})(jQuery);

// DOMContentLoaded
$(function() {

  // bind radiobuttons in the form
  var $filterType = $('#filter input[name="type"]');
  var $filterSort = $('#filter input[name="sort"]');

  // get the first collection
  var $applications = $('#applications');

  // clone applications to get a second collection
  var $data = $applications.clone();

  // attempt to call Quicksand on every form change
  $filterType.add($filterSort).change(function(e) {
    if ($($filterType+':checked').val() == 'all') {
      var $filteredData = $data.find('li');
    } else {
      var $filteredData = $data.find('li[data-type=' + $($filterType+":checked").val() + ']');
    }

    // if sorted by size
    if ($('#filter input[name="sort"]:checked').val() == "size") {
      var $sortedData = $filteredData.sorted({
        by: function(v) {
          return parseFloat($(v).find('span[data-type=size]').text());
        }
      });
    } else {
      // if sorted by name
      var $sortedData = $filteredData.sorted({
        by: function(v) {
          return $(v).find('strong').text().toLowerCase();
        }
      });
    }   

    // finally, call quicksand
    $applications.quicksand($sortedData, {
      duration: 800,
      easing: 'easeInOutQuad'
    });

  });

});

			$('#chat-toggle').click(function() {
				$(this).parent('li').toggleClass('active');
				return false;
			});
			$('.btn.fund').click(function() {
				$('#fundModal').modal();
			});
		});
	</script>
  </body>
</html>
