
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="./css/bootstrap.css" rel="stylesheet">
	<link href="./css/exhibia.css" rel="stylesheet">
    <style type="text/css">
      .container {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="./css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons 
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">-->
  </head>

  <body>
	<div class="alert alert-info">
		<a class="close" data-dismiss="alert">×</a>
		A new item just got funded, click here to get it
	</div>
  
  
	<div class="navbar">
	  <div class="navbar-inner">
		<div class="container">
			<div class="navbar-search">
				<div class="logo">exhibia</div>
			</div>
			<form class="navbar-search pull-left">
			  <input type="text" class="search-query" placeholder="Search">
			</form>
		</div>
	  </div>
	</div>
	
    <div class="container">
      <div class="page-header">
		<!--
        <div class="row well">
			<ul class="unstyled">
			<li class="span12">
			  <div class="thumbnail">
				<img src="http://placehold.it/260x180" alt="">
			  </div>
			</li>
			</ul>
		</div>
		-->
		<div class="pagination">
		  <ul>
			<li class="arrow"><a href="#">&lt;</a></li>
			<li><a href="#">Apple</a></li>
		<li><a href="#">Entertaiment</a></li>
        <li><a href="#">Clothing</a></li>
        <li><a href="#">Accessories</a></li>
        <li><a href="#">Gadgets</a></li>
        <li><a href="#">Other stuff</a></li>
        <li class="arrow"><a href="#">&gt;</a></li>
		  </ul>
		</div>
      </div>
	
	<ul class="breadcrumb">
	  <li>
		<a href="#">Home</a> <span class="divider">/</span>
	  </li>
	  <li>
		<a href="#">Funding</a> <span class="divider">/</span>
	  </li>
	  <li>
		<a href="#">Tech</a> <span class="divider">/</span>
	  </li>
	  <li class="active">
		<a href="#">Asus Transformer Prime TF201 Mobile Docking - Amethyst Gray</a>
	  </li>
	</ul>
		
	
      <!-- Example row of columns -->
      <div class="row item">
        <div class="span9">
		<ul class="unstyled share-btn">
			<li><img src="img/like.png" /><div class="socialtip"></div></li>
			<li><img src="img/tweet.png" /><div class="socialtip"></div></li>
			<li><img src="img/plus.png" /><div class="socialtip"></div></li>
		</ul>
			<h1>Asus Transformer Prime TF201 Mobile Docking - Amethyst Gray</h1>
<div class="" style="border-bottom: 1px solid silver; height: 41px;margin-bottom: 10px;">
<ul id='nav2'>
  <li><a href="item_exhibit.html" title="Item Description">Item Description</a></li>
  <li class="selected"><a href="item_bidders.html" title="Bidders">Bidders<span>24</span></a></li>
  <li><a href="#">Comments<span>4</span></a></li>
</ul>
 </div>			
<div class="bidbacklist" style="border-bottom: 1px dashed silver">
	<p><a href=""><img src="img/avatar-facebook.png" />Someone jr.</a><br />Apr 12</p>
</div>
<div class="bidbacklist" style="border-bottom: 1px dashed silver">
	<p><a href=""><img src="img/avatar-facebook.png" />Someone jr.</a><br />Jan 12</p>
</div>
<div class="bidbacklist" style="border-bottom: 1px dashed silver">
	<p><a href=""><img src="img/avatar-facebook.png" />Someone jr.</a><br />March 12</p>
</div>
<div class="bidbacklist" style="border-bottom: 1px dashed silver">
	<p><a href=""><img src="img/avatar-facebook.png" />Someone jr.</a><br />Nov 12</p>
</div>
<div class="bidbacklist" style="border-bottom: 1px dashed silver">
	<p><a href=""><img src="img/avatar-facebook.png" />Someone jr.</a><br />Sep 12</p>
</div>
<div class="bidbacklist" style="border-bottom: 1px dashed silver">
	<p><a href=""><img src="img/avatar-facebook.png" />Someone jr.</a><br />Jan 12</p>
</div>
<div class="bidbacklist" style="border-bottom: 1px dashed silver">
	<p><a href=""><img src="img/avatar-facebook.png" />Someone jr.</a><br />Jan 7</p>
</div>
<div class="bidbacklist" style="border-bottom: 1px dashed silver">
	<p><a href=""><img src="img/avatar-facebook.png" />Someone jr.</a><br />Jan 2</p>
</div>
<div class="bidbacklist" style="border-bottom: 1px dashed silver">
	<p><a href=""><img src="img/avatar-facebook.png" />Someone jr.</a><br />Aug 12</p>
</div>
<div class="bidbacklist" style="border-bottom: 1px dashed silver">
	<p><a href=""><img src="img/avatar-facebook.png" />Someone jr.</a><br />Jan 22</p>
</div>
		 
		 
		</div>
		<div class="span3">
          <div class="well">
			<h1 style="text-align: center">21 seconds</h1><h6 style="text-align: center">Tick time: 30 seconds</h3><hr />
			<h3 style="text-align: center"><div class="avatar next-to"><img src="img/avatar-twitter.png" /></div>Bidder2</h3>
			<hr /><br/><br/>
			<h1 class="fund-big">BID</h1>
		  </div>
		  <div class="well">
		   <h3>Fund this</h3><br/>
			<input type="text" style="padidng: 7px;width: 180px;height: 47px;font-size: 30px;" class="input" id="uptou" placeholder="minimum $1">
			<div style="text-align: center;width: 200px;margin-left: -6px;">
			<a href="#" class="btn btn-extrabig">$10<h6>10 BIDS</h6></a>
			<a href="#" class="btn btn-info btn-extrabig">$20<h6 style="color:white">20 BIDS</h6></a>
			<a href="#" class="btn btn-success btn-extrabig">$50<h6 style="color:white">50 BIDS</h6></a>
			<a href="#" class="btn btn-warning btn-extrabig">$100<h6 style="color:white">100 BIDS</h6></a>
			<a href="#" class="btn btn-inverse btn-extrabig">$500<h6 style="color:white">500 BIDS</h6></a>
			<a href="#" class="btn btn-danger btn-extrabig">$1000<h6 style="color:white">1000 BIDS</h6></a>
			<a href="back_item.html"><button type="submit" class="btn btn-primary">Fund item</button></a>
			</div>
			</div>
		</div>
      </div>

      <hr>

     <div class="navbar navbar-fixed-bottom">
	  <div class="navbar-inner">
		<div class="container">
			<ul class="nav share">
				<li class="fb-login"><a href="#"><img src="img/like.png" /> Get 3 Bids</a></li>
				<li class="tw-login"><a href="#"><img src="img/tweet.png" /> Get 3 Bids</a></li>
				<li class="gp-login"><a href="#"><img src="img/plus.png" /> Get 3 Bids</a></li>
			</ul>
<ul class="nav woitms">
				<li class="bids-lft">Bids Left:<span>24</span></li>
				<li class="won-itmsm"><a href="#myModal" data-toggle="modal" href="#myModal" >Won Items<span>4</span></a></li>
</ul>
			<ul class="nav navchat">
			  <li class="chat">
				<a id="chat-toggle" href="#">Chat</a>
				<div class="chat-box">
					<div class="container">
						<ul class="unstyled">
							<li>
								<div class="avatar"><img src="img/avatar-googleplus.png" /></div>
								<div><strong>Bidder1:</strong> Hey</div>
							</li>
							<li>
								<div class="avatar"><img src="img/avatar-twitter.png" /></div>
								<div><strong>Bidder2:</strong> Bidder1 dont bid on my item</div>
							</li>
							<li>
								<div class="avatar"><img src="img/avatar-facebook.png" /></div>
								<div><strong>Bidder3:</strong> How does this work</div>
							</li>
						</ul>
						<div class="type">
							<div class="input-prepend">
								<span class="add-on"><i class="icon-comment"></i></span>
								<input type="text" class="span2" place-holder="Type here..">
							</div>
						</div>
					</div>
				</div>
			  </li>
			</ul>
		</div>
	  </div>
	</div>
	
<div class="modal" id="myModal" style="display: none;">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Items you have won!</h3>
  </div>
  <div class="modal-body">
<div class="bidbacklist" style="border-bottom: 1px dotted silver">
	<p><a href=""><img src="products/item1.jpg" width="50" height="50" />Some Product</a><br />Won on: Apr 12 <a href="ship_item.html" class="btn-procordr">Pay Shipping Fees</a></p>
</div>
<div class="bidbacklist" style="border-bottom: 1px dotted silver">
	<p><a href=""><img src="products/item2.jpg" width="50" height="50"  />Some Other Product </a><br />Won on: Apr 12<a href="ship_item.html" class="btn-procordr">Pay Shipping Fees</a></p>
</div>
<div class="bidbacklist" style="border-bottom: 1px dotted silver">
	<p><a href=""><img src="products/item3.jpg" width="50" height="50"  />Some Other Other Product</a><br />Won on: Apr 12<a href="ship_item.html" class="btn-feded">Processing Order</a></p>
</div>
<div class="bidbacklist" style="border-bottom: 1px dotted silver">
	<p><a href=""><img src="products/item4.jpg" width="50" height="50"  />Some Other Other Other Product </a><br />Won on: Apr 12<a href="testimonial.html" class="btn-devar">Post Testimonial</a></p>
</div>
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal"  class="btn">Close</a>
  </div>
</div>	
    <footer>
		<div class="row">
			<div class="span2"><p>&copy; Copyright Socially Funded Pay-Per-Bid Auction</p></div>
			<div class="span2">
				<ul class="nav nav-tabs nav-stacked">
					<li><a href="#">About Us</a></li>
					<li><a href="#">FAQ's</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Privacy Policy</a></li>
					
				</ul>
			</div>
			<div class="span2">
				<ul class="nav nav-tabs nav-stacked">
					<li><a href="#" title="">How it works? (FAQ)</a></li>
					<li><a href="#" title="">Bidding</a></li>
					<li><a href="#" title="">Shipment &amp; Delivery</a></li>
					<li><a href="#" title="">Returns &amp; Warranties</a></li>
				</ul>
			</div>
			<div class="span3">
				<ul class="nav nav-tabs nav-stacked">
					<li><a href="#" title="">Payment Methods &amp; Security</a></li>
					<li><a href="#" title="">Technical Information</a></li>
					<li><a href="#">Blog</a></li>
				</ul>
			</div>
		</div>
      </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./js/jquery.js"></script>
    <script src="./js/bootstrap.js"></script>
	<script>
		$(document).ready(function() {
			$('#chat-toggle').click(function() {
				$(this).parent('li').toggleClass('active');
				return false;
			});
		});
	</script>

  </body>
</html>
