
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="./css/bootstrap.css" rel="stylesheet">
	<link href="./css/exhibia.css" rel="stylesheet">
    <style type="text/css">
      .container {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="./css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons 
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">-->
  </head>

  <body>
	<div class="alert alert-info">
		<a class="close" data-dismiss="alert">×</a>
		A new item just got funded, click here to get it
	</div>
  
  
	<div class="navbar">
	  <div class="navbar-inner">
		<div class="container">
			<div class="navbar-search">
				<div class="logo">exhibia</div>
			</div>
			<form class="navbar-search pull-left">
			  <input type="text" class="search-query" placeholder="Search">
			</form>
		</div>
	  </div>
	</div>
	
    <div class="container">
      <div class="page-header">
		<!--
        <div class="row well">
			<ul class="unstyled">
			<li class="span12">
			  <div class="thumbnail">
				<img src="http://placehold.it/260x180" alt="">
			  </div>
			</li>
			</ul>
		</div>
		-->
		<div class="pagination">
		  <ul>
			<li class="arrow"><a href="#">&lt;</a></li>
			<li><a href="#">Apple</a></li>
		<li><a href="#">Entertaiment</a></li>
        <li><a href="#">Clothing</a></li>
        <li><a href="#">Accessories</a></li>
        <li><a href="#">Gadgets</a></li>
        <li><a href="#">Other stuff</a></li>
        <li class="arrow"><a href="#">&gt;</a></li>
		  </ul>
		</div>
      </div>
	
	<ul class="breadcrumb">
	  <li>
		<a href="#">Home</a> <span class="divider">/</span>
	  </li>
	  <li>
		<a href="#">Funding</a> <span class="divider">/</span>
	  </li>
	  <li>
		<a href="#">Tech</a> <span class="divider">/</span>
	  </li>
	  <li class="active">
		<a href="#">Asus Transformer Prime TF201 Mobile Docking - Amethyst Gray</a>
	  </li>
	</ul>
		
	
      <!-- Example row of columns -->
      <div class="row item">
        <div class="span9">
			<h1>Asus Transformer Prime TF201 Mobile Docking - Amethyst Gray</h1><hr/>
		  <strong>Paired for Perfection</strong><br><br>
		  <p>Breaking free from the normal constraints of a device through constant innovation, the ASUS Eee Pad Transformer Prime is the perfect example of what a tablet should be. The feature that gives the Eee Pad Transformer Prime its name, the mobile docking station, gives a whole new meaning to the term Paired for Perfection.</p>
		  <p>The new Eee Pad Transformer Prime is mind-blowingly slim and light weight and with a beautiful metallic spun finished design. In fact, it is the slimmest tablet on the market yet, only 0.33" thin and 1.29lbs light. You can easily carry it with you no matter where you go.</p>
		  <img src="http://g-ecx.images-amazon.com/images/G/01/electronics/asus/TF201-B1_image003_S.jpg" alt="Paired for Perfection " width="450" height="450" hspace="10" vspace="10" align="right">
		  <h2><span style="font-weight: bold;">Key Features</span></h2>
		  <ul>
			<li><strong>10.1-inch WXGA Super IPS+ capacitive pressure-sensing multi touch display made with Corning<sup>®</sup> Gorilla<sup>®</sup> Glass </strong>for brilliant HD entertainment and intuitive navigation. 178° viewing angle (1280 x 800)</li> 
			<li><strong>Ultra-slim and light (.33" thin and 1.29lbs light) </strong>with metallic spun finish design </li> <li><strong>Powered by NVIDIA<sup>®</sup> Tegra<sup>®</sup> 3 Quad-core CPU </strong>for excellent multitasking, 1080p HD video output playback and 3D games for SUPERB performance (<a href="#productivity">Learn more</a>)</li>
			<li><strong>1.2MP front camera and 8MP auto-focus rear camera </strong>with flash, back-illuminated CMOS sensor, and large aperture design to clearly capture every moment. (<a href="#sound">Learn more</a>)</li>
			<li><strong>Android<sup>™</sup> 3.2 Honeycomb (Upgradable to Android™ 4.0 Ice Cream Sandwich) OS </strong>with Adobe<sup>®</sup> Flash<sup>®</sup> support and over 500,000 downloadable applications on the Android <sup>™</sup> Market.<sup>1</sup> (<a href="#expandability">Learn more</a>)</li>
			<li><strong>Optional Docking station with Full QWERTY keyboard </strong>adds additional 6 hours of battery life, to instantly turn the Eee Pad Transformer Prime into PC mode with up to 18 hours of battery life.<sup>2</sup></li> 
		</ul> 
		
	      <h3 class="productDescriptionSource">Product Description</h3>
		  <div class="productDescriptionWrapper">
		  10.1" WXGA (1280x800) (LED Capacitive)/NVIDIA Tegra 3/1GB DDR2 RAM/32GB Flash Memory/Android 3.2 (Honeycomb)/802.11BGN/1.2MP Front Camera/8.0MP Rear Camera/Bluetooth 2.1/Up to 12 hours battery/G-Sensor/E-Compass/GPS/Light Sensor/Gyroscope/1YR North American Warranty
		 </div> 
		 
		 
		</div>
		<div class="span3">
          <div class="well">
			<h1>$120</h1>
			<h5>FUNDED OF GOAL OF $600</h5>
			<h1>24</h1>
			<h5>BACKERS</h5>
			<h1>00:10:21</h1>
			<h5>TIME LEFT</h5><br/>
			<!--
			<div class="modal fade" id="myModal">
			  <div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3>Credits packages to fund this item</h3>
			  </div>
			  <div class="modal-body">
			    <p>To fund this item you need to have funding credits, select a package bellow.</p><hr>
				<a href="#" class="btn btn-extrabig">$1</a>
				<a href="#" class="btn btn-info btn-extrabig">$10</a>
				<a href="#" class="btn btn-success btn-extrabig">$50</a>
				<a href="#" class="btn btn-warning btn-extrabig">$100</a>
				<a href="#" class="btn btn-inverse btn-extrabig">$500</a>
				<a href="#" class="btn btn-alert btn-extrabig">$1000</a>
			  </div>
			  <div class="modal-footer">
				<a href="#" class="btn">Close</a>
			  </div>
			</div>
			<a data-toggle="modal" href="#myModal" ><h1 class="fund-big">FUND THIS WITH $1 OR MORE</h1></a>
		   -->
		   <h3>Fund this</h3><br/>
			<a href="#" class="btn btn-extrabig">$10<h6>10 BIDS</h6></a>
			<a href="#" class="btn btn-info btn-extrabig">$20<h6 style="color:white">20 BIDS</h6></a>
			<a href="#" class="btn btn-success btn-extrabig">$50<h6 style="color:white">50 BIDS</h6></a>
			<a href="#" class="btn btn-warning btn-extrabig">$100<h6 style="color:white">100 BIDS</h6></a>
			<a href="#" class="btn btn-inverse btn-extrabig">$500<h6 style="color:white">500 BIDS</h6></a>
			<a href="#" class="btn btn-danger btn-extrabig">$1000<h6 style="color:white">1000 BIDS</h6></a>
			</div>
        </div>
      </div>

      <hr>

     <footer>
		<div class="row">
			<div class="span2"><p>&copy; Copyright Socially Funded Pay-Per-Bid Auction</p></div>
			<div class="span2">
				<ul class="nav nav-tabs nav-stacked">
					<li><a href="#">About Us</a></li>
					<li><a href="#">FAQ's</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Privacy Policy</a></li>
					
				</ul>
			</div>
			<div class="span2">
				<ul class="nav nav-tabs nav-stacked">
					<li><a href="#" title="">How it works? (FAQ)</a></li>
					<li><a href="#" title="">Bidding</a></li>
					<li><a href="#" title="">Shipment &amp; Delivery</a></li>
					<li><a href="#" title="">Returns &amp; Warranties</a></li>
				</ul>
			</div>
			<div class="span3">
				<ul class="nav nav-tabs nav-stacked">
					<li><a href="#" title="">Payment Methods &amp; Security</a></li>
					<li><a href="#" title="">Technical Information</a></li>
					<li><a href="#">Blog</a></li>
				</ul>
			</div>
		</div>
      </footer>

    </div> <!-- /container -->
	
	<div class="navbar navbar-fixed-bottom">
	  <div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li class="fb-login"><a href="#">Login with Facebook</a></li>
				<li class="tw-login"><a href="#">Login with Twitter</a></li>
				<li class="gp-login"><a href="#">Login with Google+</a></li>
			</ul>
			<ul class="nav navchat">
			  <li class="active chat">
				<a id="chat-toggle" href="#">Chat</a>
				<div class="chat-box">
					<div class="container">
						<ul class="unstyled">
							<li>
								<div class="avatar"><img src="img/avatar-googleplus.png" /></div>
								<div><strong>Bidder1:</strong> Hey</div>
							</li>
							<li>
								<div class="avatar"><img src="img/avatar-twitter.png" /></div>
								<div><strong>Bidder2:</strong> Bidder1 dont bid on my item</div>
							</li>
							<li>
								<div class="avatar"><img src="img/avatar-facebook.png" /></div>
								<div><strong>Bidder3:</strong> How does this work</div>
							</li>
						</ul>
						<div class="type">
							<div class="input-prepend">
								<p>Log in to chat.</p>
							</div>
						</div>
					</div>
				</div>
			  </li>
			</ul>
		</div>
	  </div>
	</div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./js/jquery.js"></script>
    <script src="./js/bootstrap.js"></script>
	<script>
		$(document).ready(function() {
			$('#chat-toggle').click(function() {
				$(this).parent('li').toggleClass('active');
				return false;
			});
		});
	</script>

  </body>
</html>
