node_modules
dist
.tmp
.sass-cache
app/components
exhibia/env
exhibia/static
*.pyc
*.idea
site_media/
.project
.pydevproject
*.db
exhibia/cache
exhibia/settings/local_settings.py

# coverage
exhibia/.coverage

# vagrant
.vagrant

