      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" id="myModalLabel">buy now</h1>
          </div>
            <div class="modal-body ">
          <!-- form -->
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="block">
                      <p>This option available only for registered users, you can sign up <a data-toggle="modal" onclick="$('#ModalBuyNow').modal('hide');" data-target="#ModalSignIn">here</a></p>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  </div>
                <div class="clearfix"></div>
          <!-- end form -->
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-black" data-dismiss="modal">close</button>
              </div>
        </div>
      </div>