      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" id="myModalLabel">buy now</h1>
          </div>
          <div class="modal-body ">
          <!-- form -->
              <form role="form">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="block">
                      <h6>{{ item.name }}</h6>
                      <div class="price">${{ item.price }}</div>
                    </div>
                    <div class="form-group">
                      <label for="address">Shipping Address</label>
                      <div class="selectBox">
                        <div class="selectBox-moreButton">
                            <span class="caret"></span>
                        </div>
                        {{ form.shipping }}
                      </div>
                      <div class="address">
                        John Smith<br>
                        1234 Example Rd<br>
                        Los Angeles, CA<br>
                        United States<br>
                        Phone: 9876543210<br>
                        <div class="item-link">
                          <a href="{% url account_shipping  %}">Add new address</a>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                      <label for="payment">Payment Informations</label>
                      <div class="selectBox">
                        <div class="selectBox-moreButton">
                            <span class="caret"></span>
                        </div>
                        {{ form.payment }}
                      </div>
                      <div class="item-link">
                          <a href="{% url account_payments %}">Add new card</a>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                      <label for="addr">Billing Address</label>
                      <div class="selectBox">
                        <div class="selectBox-moreButton">
                            <span class="caret"></span>
                        </div>
                        {{ form.billing }}
                      </div>
                      <div class="item-link">
                          <a href="{% url account_billing %}">Add new address</a>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="pl-50">
                      <div class="foto-pr ">
                        <img  src="{{ item.image.img.url }}"/>
                      </div>
                      <div class="clearfix"></div>
                      <div class="item-title">
                        <h6>Shipping Method</h6>
                      </div>
                      <!-- radio-button -->
                      <div class="radio">
                          {{ form.method_choices.0 }}
                      </div>
                      <div class="radio">
                          {{ form.method_choices.1 }}
                      </div>
                      <div class="radio">
                          {{ form.method_choices.2 }}
                      </div>
                      <!-- end radio-button -->
                      <div class="item-title mt-30">
                        <h6>Order Summary</h6>
                      </div>
                      <div class="order-info">
                        <table>
                          <tbody>
                            <tr>
                                <td>Retail:</td>
                                <td>${{ item.price }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="border-b"></div>
                        <table>
                          <tbody>
                            <tr>
                            <td>Buy Now:</td>
                            <td>$753.00</td>
                            </tr>
                            <tr>
                              <td>Shipping & handling:</td>
                              <td>$10.00</td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="total-sum">
                          Total:<span>$763.00</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  </div>
              </form>
            <div class="clearfix"></div>
          <!-- end form -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-black" data-dismiss="modal">cancel</button>
            <button type="submit" class="btn btn-info">place your order</button>
          </div>
        </div>
      </div>