{% extends 'site_base.html' %}
{% load crispy_forms_tags %}
{% block body %}
    <form action="." method="POST">
    {% csrf_token %}
    {% for card in cards %}
        <input type="radio" name="card" value="{{ card.id }}"/> {{ card.number }}<br/>
    {% endfor %}
    <input type="hidden" name="select" value="1"/>
    <input type="submit" value="Continue" />
    <p>(You can review this order before it's final.)</p>
    </form>

    <h2>Add new card</h2>
    <form action="." method="post" class="uniForm">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Save"/>
    </form>

{% endblock %}
{% block extra_body %}
{% endblock %}