{% extends 'site_base.html' %}
{% load crispy_forms_tags %}
{% block body %}
    <div>
        <img class="product" src="{{ auction.item.image.img.url }}" />

        <h3>Shipping Address:</h3>
        <p>{{ shipping.first_name }} {{ shipping.last_name }}</p>
        <p>{{ shipping.address1 }}</p>
        <p>{{ shipping.city }},{{ shipping.state }} {{ shipping.zip_code }}</p>
        <p>{{ shipping.country.name }} <img src="{{ shipping.country.flag }}"></p>
        <p>Phone: {{ shipping.phone }}</p>

            <form action="." method="post">
                {% csrf_token %}
                {% for shipping in shipping_options %}
                    <input type="radio" name="shipping" value="{{ shipping.id }}"/> {{ shipping.name }} - {{ shipping.price }}<br/>
                {% endfor %}
                {% if next_url %}
                    <input type="hidden" name="next" value="{{ next_url }}"/>
                {% endif %}
                <input type="submit" value="Select">
            </form>

    </div>
{% endblock %}
{% block extra_body %}
{% endblock %}