<div class="modal fade" id="ModalWishList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" >added to wishlist</h1>
          </div>
          <div class="modal-body ">
            <h6>How would you like to be notified when wishlist item has funded?</h6>
            <form>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  <div><span class="list list-fb"></span>Facebook message</div>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  <div><span class="list list-tw"></span>Twitter tweet</div>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  <div><span class="list list-email"></span>Email</div>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  <div><span class="list list-text"></span>Text message</div>
                </label>
              </div>
            </form>
          </div>
          <div class="clearfix"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-black" data-dismiss="modal">close</button>
          </div>
        </div>

      </div>
    </div>