{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block body %}
<p><strong>Username:</strong> {{ user_info.username }}</p>
<p><strong>Email:</strong> {{ user_info.details.email }}</p>
<form class="signup uniForm" id="signup_form" method="post" action="{% url acct_signup %}" autocapitalize="off">
    {% csrf_token %}
    <input type="hidden" name="username" value="{{ user_info.username }}" />
    <input type="hidden" id="id_{{ uid_confirmed_name }}" name="{{ uid_confirmed_name }}" value="{{user_info.uid}}" />
    <input type="hidden" id="id_backend" name="backend" value="{{ user_info.backend_name }}" />
    <input type="hidden" id="id_email" name="email" value="{{ user_info.details.email }}" />
    <input type="hidden" id="id_new" name="new" value="1" />
</form>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        $(function(){
            if(window.opener && window.opener.update_fields){
                var data = {uid: '{{user_info.uid}}',
                    username: '{{user_info.username}}',
                    backend: '{{ user_info.backend_name }}',
                    email: '{{ user_info.details.email }}'};
                window.opener.update_fields(data);
                window.close();
            } else {
                $('#signup_form').submit();
            }
        });
    </script>
{% endblock %}