<div class="itemFund col-lg-12" id="auction-{{ auction.pk }}">
  <div class="thumbnail">
    <div class="item-name">
      <h6>{{ auction.item.name }}</h6>
    </div>
    <div class="item-foto">
      <a class="itemLink" data-toggle="modal" data-target="#ModalFund" data-pk="{{ auction.pk }}" style="background-image: url({{ auction.item.image.img.url }})"></a>
    </div>
    <div class="alert alert-info">
      <table>
          <tbody>
            <tr>
              <td >
                <button type="btn" data-toggle="modal" data-target="#ModalWishList">
                    <span class="glyphicon glyphicon-star star-blue"></span>
                </button>
              </td>
              <td rowspan="2" class="percent"><span class="funded">{{ auction.funded|floatformat:0 }}</span>%</td>
            </tr>
            <tr>
              <td><strong class="bakers">{{ auction.backers }}</strong><span class="text-blue">backers</span></td>
            </tr>
          </tbody>
      </table>
      <!-- progress-bar -->
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" 
             style="width: {{ auction.funded|floatformat:0 }}%;">
          <span class="sr-only">{{ auction.funded|floatformat:0 }}% Complete</span>
        </div>
      </div>
      <!-- end progress-bar -->
    </div>
    <div class="modal-btn">
            {% if user.is_authenticated %}
              <button data-toggle="modal" data-target="#ModalFund" class="btn fund btn-info" data-pk="{{ auction.pk }}" > fund</button>
            {% else %}
              <button class="btn fund btn-info" onclick="window.location.href='{% url acct_login %}'" data-pk="{{ auction.pk }}" > fund</button>
            {% endif %}
    </div>
  </div>
</div>