<div class="col-xs-4 col-sm-4 col-md-2 col-lg-2" id="auction-{{ auction.pk }}">
  <div class="thumbnail">
    <div class="item-name">
      <h6>{{ auction.item.name }}</h6>
    </div>
    <div class="item-foto">
      <img src="{{ auction.item.image.img.url }}" alt="">
    </div>
    <div class="alert alert-info">
      <table>
        <tr>
          <td >
            <button type="btn" data-toggle="modal" data-target="#ModalWishList">
                <span class="glyphicon glyphicon-star star-blue"></span>
            </button>
          </td>
          <td rowspan="2" class="percent"><span class="funded">{{ auction.funded|floatformat:0 }}</span>%</td>
        </tr>
        <tr>
          <td><strong class="bakers">{{ auction.backers }}</strong><span class="text-blue">backers</span></td>
        </tr>
      </table>
      <!-- progress-bar -->
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" 
             style="width: {{ auction.funded|floatformat:0 }}%;">
          <span class="sr-only">{{ auction.funded|floatformat:0 }}% Complete</span>
        </div>
      </div>
      <!-- end progress-bar -->
    </div>
    <div class="modal-btn">
      <button data-toggle="modal" data-target="#ModalFund" class="btn fund btn-info" data-pk="{{ auction.pk }}" > fund</button>
    </div>
  </div>
</div>