{% with auction as a %}
<li data-id="{{ a.id }}" data-type="app" data-types="camera" class="span3 funding" id="{{a.pk}}">
	<div class="thumbnail">
		<div class="h3 fund-title">
            <a href="{{auction.get_absolute_url}}">{{ a.item.name }}</a>
            {# <a href="{% url auction_item a.item.slug_name %}?auction={{ a.id }}">{{ a.item.name }}</a> #}
        </div>
        <div align="center">
      	<a href="{{auction.get_absolute_url}}">
			<img class="product" src="{{ a.item.image.img.url }}"/>
		</a>
        </div>
        <div class="caption">
            <div class="progress progress-info progress-striped">
                <div class="bar" style="width: {{ a.funded|floatformat:0 }}%;">{{ a.funded|floatformat:0 }}%</div>
            </div>
          	<div class="row funded">
				<div class="span1"><span id="amount_pleged_{{ a.id }}" class="amount_pleged">${{ a.amount_pleged }}</span>FUNDED</div>
				<div class="span1"><span id="backers_{{ a.id }}" class="bakers">{{ a.backers }}</span>BACKERS</div>
			</div>
        </div>
        <div class="panel">
        	<div class="btn-group fund-options">
        		<a class="btn fund btn-success btn-big" data-uri="{% url auction_fund a.id %}" data-toggle="modal" href="#fundModal" data-pk="{{a.pk}}">
                    <i class="icon-leaf icon-white"></i> FUND
                </a>
        	</div>
        </div>
	</div>
</li>
{% endwith %}
