{% with auction as a %}
<li data-id="{{ a.id }}" data-type="app" class="span3 span3a item_waiting item" style="margin-bottom: 10px;">
    <h2>{{ a.item.name }}</h2>
    <a href="{% url auction_item a.item.slug_name %}?item={{ a.id }}"><img class="product" src="{{ a.item.image.img.url }}" /></a>
    <hr />
    <div class="progress progress-info progress-striped active">
        <div class="bar" style="width: {{ a.funded|floatformat:0 }}%;">{{ a.funded|floatformat:0 }}%</div>
    </div>
    <hr/>
    <div class="funded" style="height: 45px;">
        <h7 class="fundha"><span id="amount_pleged_{{ a.id }}">${{ a.amount_pleged }}</span>FUNDED</h7>
        <h7 class="fundhb"><span id="backers_{{ a.id }}">{{ a.backers }}</span>BACKERS</h7>
    </div><hr/>
    <p style="margin-top: -5px"><a class="btn fund btn-fund" data-toggle="modal" href="#fundModal">FUND</a></p>
</li>
{% endwith %}
