<div class="owl" id="owl-category-{{ category_id }}">
  {% for auction in auctions %}
        {% include 'auctions/auction_box_verstka.html' %}
  {% endfor %}
</div>

<script type="text/javascript">
    $(document).ready(function() {
      $("#owl-category-{{ category_id }}").owlCarousel({
        lazyLoad : true,
        navigation : false,
        rewindNav : true,
        scrollPerPage : true,
        pagination : true,
        items : 5,
        itemsDesktop : [1070,4],
        itemsDesktopSmall : [992,3],
        itemsTablet: [768,3],
        itemsMobile : [480,2]
      });
    });
</script>