<div class="modal fade" id="ModalFund" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" id="myModalLabel">fund items</h1>
          </div>
          <div class="modal-body ">
            <div class="row">
              <form role="form" id="fund_form">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="item-border">
                    <div class="radio">
                      <label>
                        <!--<input type="checkbox">-->
                        <input type="radio" name="option5" value="10">
                          <div class="euro euro10"></div>
                          <table>
                           <tbody>
                             <tr>
                               <td><span class="txt txt-red">10</span><br>Bids</td>
                               <td><span class="glyphicon glyphicon-plus"></span></td>
                               <td>No<br>bonus</td>
                             </tr>
                           </tbody>
                          </table>
                          <div class="bg bg-red">
                            10<br>bids
                          </div>
                      </label>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="item-border">
                    <div class="radio">
                      <label>
                        <!--<input type="checkbox">-->
                          <input type="radio" name="option5" value="22" >
                          <div class="euro euro20"></div>
                          <table>
                           <tbody>
                             <tr>
                               <td><span class="txt txt-blue">20</span><br>Bids</td>
                               <td><span class="glyphicon glyphicon-plus"></span></td>
                               <td><span class="bonus">5%</span><br>bonus</td>
                             </tr>
                           </tbody>
                          </table>
                          <div class="bg bg-blue">
                            22<br>bids
                          </div>
                      </label>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="item-border">
                    <div class="radio">
                      <label>
                        <!--<input type="checkbox">-->
                          <input type="radio" name="option5" value="55" >
                          <div class="euro euro50"></div>
                          <table>
                           <tbody>
                             <tr>
                               <td><span class="txt txt-orange">50</span><br>Bids</td>
                               <td><span class="glyphicon glyphicon-plus"></span></td>
                               <td><span class="bonus">10%</span><br>bonus</td>
                             </tr>
                           </tbody>
                          </table>
                          <div class="bg bg-orange">
                            55<br>bids
                          </div>
                      </label>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="item-border">
                    <div class="radio">
                      <label>
                        <!--<input type="checkbox">-->
                          <input type="radio" name="option5" value="112" >
                          <div class="euro euro100"></div>
                          <table>
                           <tbody>
                             <tr>
                               <td><span class="txt txt-green">100</span><br>Bids</td>
                               <td><span class="glyphicon glyphicon-plus"></span></td>
                               <td><span class="bonus">12%</span><br>bonus</td>
                             </tr>
                           </tbody>
                          </table>
                          <div class="bg bg-green">
                            112<br>bids
                          </div>
                      </label>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="item-border">
                    <div class="radio">
                      <label>
                        <!--<input type="checkbox">-->
                          <input type="radio" name="option5" value="224" >
                          <div class="euro euro200"></div>
                          <table>
                           <tbody>
                             <tr>
                               <td><span class="txt txt-yellow">200</span><br>Bids</td>
                               <td><span class="glyphicon glyphicon-plus"></span></td>
                               <td><span class="bonus">12%</span><br>bonus</td>
                             </tr>
                           </tbody>
                          </table>
                          <div class="bg bg-yel">
                            224<br>bids
                          </div>
                      </label>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="item-border">
                    <div class="radio">
                      <label>
                        <!--<input type="checkbox">-->
                          <input type="radio" name="option5" value="600" >
                          <div class="euro euro500"></div>
                          <table>
                           <tbody>
                             <tr>
                               <td><span class="txt txt-purple">500</span><br>Bids</td>
                               <td><span class="glyphicon glyphicon-plus"></span></td>
                               <td><span class="bonus">20%</span><br>bonus</td>
                             </tr>
                           </tbody>
                          </table>
                          <div class="bg bg-purple">
                            600<br>bids
                          </div>
                      </label>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="item-border ml">
                  <div class="radio">
                    <label>
                      <input id="is_custom_value" type="checkbox">
                      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="item-label">Choose your value</div>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 pull-right">
                        <table class="sum-bid">
                          <tr>
                            <td>
                              <div class="form-group">
                                <input id="custom_value" type="text" class="form-control" id="i" placeholder="$0">
                              </div>
                            </td>
                            <td><span class="glyphicon glyphicon-plus"></span></td>
                            <td><span class="bonus">20%</span><br>Bonus</td>
                            <td class="percent"><span id="custom_bonus">0</span><br>Bids</td>
                          </tr>
                        </table>

                      </div>
                      <div class="clearfix"></div>
                    </label>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="total-price pull-right">
                    Total: $ <span id="total-bids">0</span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-black" data-dismiss="modal">cancel</button>
            <button type="submit" id="fund_item" class="btn btn-info">buy bids</button>
          </div>
        </div>
      </div>
    </div>