<div class="modal" id="myModal" style="display: none;">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Items you have won!</h3>
    </div>
    <div class="modal-body">
        <div class="bidbacklist" style="border-bottom: 1px dotted silver">
            <p><a href=""><img src="{{ STATIC_URL }}products/item1.jpg" width="50" height="50" />Some Product</a><br />Won on: Apr 12 <a href="ship_item.html" class="btn-procordr">Pay Shipping Fees</a></p>
        </div>
        <div class="bidbacklist" style="border-bottom: 1px dotted silver">
            <p><a href=""><img src="{{ STATIC_URL }}products/item2.jpg" width="50" height="50"  />Some Other Product </a><br />Won on: Apr 12<a href="ship_item.html" class="btn-procordr">Pay Shipping Fees</a></p>
        </div>
        <div class="bidbacklist" style="border-bottom: 1px dotted silver">
            <p><a href=""><img src="{{ STATIC_URL }}products/item3.jpg" width="50" height="50"  />Some Other Other Product</a><br />Won on: Apr 12<a href="ship_item.html" class="btn-feded">Processing Order</a></p>
        </div>
        <div class="bidbacklist" style="border-bottom: 1px dotted silver">
            <p><a href=""><img src="{{ STATIC_URL }}products/item4.jpg" width="50" height="50"  />Some Other Other Other Product </a><br />Won on: Apr 12<a href="testimonial.html" class="btn-devar">Post Testimonial</a></p>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" data-dismiss="modal"  class="btn">Close</a>
    </div>
</div>