<ul id="applications" class="image-grid applications" style="list-style-type: none;overflow-z: auto; min-width: 760px;padding-top: 10px;">
<li data-id="id-1" data-type="util" data-types="camera" class="span3 span3a" style="margin-bottom: 10px;">
    <h2><a href="../auctions/item_exhibit.html"> 16GB Nikon D3100 DSLR Camera</a></h2>
    <a href="../auctions/item_exhibit.html"><img class="product" src="{{ STATIC_URL }}products/item1.jpg" /></a><hr/>
    <h1>16 seconds</h1>
    <h6>Tick time: <span>30 seconds</span></h6><hr/>
    <h5><img class="social" src="{{ STATIC_URL }}img/facebook-16x16.png" /> <span style="font-size: 11px;">Someone</span></h5><hr/>
    <p style="margin-top: -5px"><a class="btn" href="#">BID</a></p>
</li>
<li data-id="id-2" data-type="util" data-types="tv" class="span3 span3a" style="margin-bottom: 10px;">
    <h2>LG Infinia 47-Inch 3D HDTV</h2>
    <img class="product" src="{{ STATIC_URL }}products/item3.jpg" /><hr/>
    <h1>20 seconds</h1>
    <h6>Tick time: <span>30 seconds</span></h6><hr/>
    <h5><img class="social" src="{{ STATIC_URL }}img/google-16x16.png" /><span style="font-size: 11px;">Someone</span></h5><hr/>
    <p style="margin-top: -5px"><a class="btn" href="#">BID</a></p>
</li>
<li data-id="id-3" data-type="util" data-types="tv" class="span3 span3a" style="margin-bottom: 10px;">
    <h2> LG Infinia 47-Inch 3D HDTV </h2>
    <img class="product" src="{{ STATIC_URL }}products/item3.jpg" /><hr/>
    <h1>20 seconds</h1>
    <h6>Tick time: 30 seconds</h6><hr/>
    <h5><img class="social" src="{{ STATIC_URL }}img/google-16x16.png" /><span style="font-size: 11px;">Someone</span></h5><hr/>
    <p style="margin-top: -5px"><a class="btn" href="#">BID</a></p>
</li>
<li data-id="id-4" data-type="util" data-types="tv" class="span3 span3a" style="margin-bottom: 10px;">
    <h2> LG Infinia 47-Inch 3D HDTV </h2>
    <img class="product" src="{{ STATIC_URL }}products/item3.jpg" /><hr/>
    <h1>20 seconds</h1>
    <h6>Tick time: <span>30 seconds</span></h6><hr/>
    <h5><img class="social" src="{{ STATIC_URL }}img/google-16x16.png" /><span style="font-size: 11px;">Someone</span></h5><hr/>
    <p style="margin-top: -5px"><a class="btn" href="#">BID</a></p>
</li>
<li data-id="id-5" data-type="app" class="span3 span3a" style="margin-bottom: 10px;">
    <h2>Asus Transformer Prime TF201 Mobile Docking</h2>
    <img class="product" src="{{ STATIC_URL }}products/item4.jpg" /><hr />
    <div class="progress progress-info progress-striped active">
        <div class="bar" style="width: 63%;">63%</div>
    </div><hr/>
    <div class="funded" style="height: 45px;">
        <h7 class="fundha"><span>$120</span>FUNDED</h7>
        <h7 class="fundhb"><span>24</span>BACKERS</h7>
    </div><hr/>
    <p style="margin-top: -5px"><a class="btn fund" data-toggle="modal" href="#fundModal">FUND</a></p>
</li>
<li data-id="id-6" data-type="app" class="span3 span3a" style="margin-bottom: 10px;">
    <h2>Asus Transformer Prime TF201 Mobile Docking</h2>
    <img class="product" src="{{ STATIC_URL }}products/item4.jpg" /><hr />
    <div class="progress progress-info progress-striped active">
        <div class="bar" style="width: 63%;">63%</div>
    </div><hr/>
    <div class="funded" style="height: 45px;">
        <h7 class="fundha"><span>$120</span>FUNDED</h7>
        <h7 class="fundhb"><span>24</span>BACKERS</h7>
    </div><hr/>
    <p style="margin-top: -5px"><a class="btn fund" data-toggle="modal" href="#fundModal">FUND</a></p>
</li>
<li data-id="id-7" data-type="app" class="span3 span3a" style="margin-bottom: 10px;">
    <h2>Asus Transformer Prime TF201 Mobile Docking</h2>
    <img class="product" src="{{ STATIC_URL }}products/item4.jpg" /><hr />
    <div class="progress progress-info progress-striped active">
        <div class="bar" style="width: 63%;">63%</div>
    </div><hr/>
    <div class="funded" style="height: 45px;">
        <h7 class="fundha"><span>$120</span>FUNDED</h7>
        <h7 class="fundhb"><span>24</span>BACKERS</h7>
    </div><hr/>
    <p style="margin-top: -5px"><a class="btn fund" data-toggle="modal" href="#fundModal">FUND</a></p>
</li>
<li data-id="id-8" data-type="app" class="span3 span3a" style="margin-bottom: 10px;">
    <h2>Asus Transformer Prime TF201 Mobile Docking</h2>
    <img class="product" src="{{ STATIC_URL }}products/item4.jpg" /><hr />
    <div class="progress progress-info progress-striped active">
        <div class="bar" style="width: 63%;">63%</div>
    </div><hr/>
    <div class="funded" style="height: 45px;">
        <h7 class="fundha"><span>$120</span>FUNDED</h7>
        <h7 class="fundhb"><span>24</span>BACKERS</h7>
    </div><hr/>
    <p style="margin-top: -5px"><a class="btn fund" data-toggle="modal" href="#fundModal">FUND</a></p>
</li>
<li data-id="id-9" data-type="util" data-types="camera" class="span3 span3a" style="margin-bottom: 10px;">
    <h2><a href="../auctions/item_exhibit.html"> 16GB Nikon D3100 DSLR Camera</a></h2>
    <a href="../auctions/item_exhibit.html"><img class="product" src="{{ STATIC_URL }}products/item1.jpg" /></a><hr/>
    <h1>16 seconds</h1>
    <h6>Tick time: <span>30 seconds</span></h6><hr/>
    <h5><img class="social" src="{{ STATIC_URL }}img/facebook-16x16.png" /><span style="font-size: 11px;">Someone</span></h5><hr/>
    <p style="margin-top: -5px"><a class="btn" href="#">BID</a></p>
</li>
<li data-id="id-10" data-type="util" data-types="tv" class="span3 span3a" style="margin-bottom: 10px;">
    <h2>LG Infinia 47-Inch 3D HDTV</h2>
    <img class="product" src="{{ STATIC_URL }}products/item3.jpg" /><hr/>
    <h1>20 seconds</h1>
    <h6>Tick time: <span>30 seconds</span></h6><hr/>
    <h5><img class="social" src="{{ STATIC_URL }}img/google-16x16.png" /><span style="font-size: 11px;">Someone</span></h5><hr/>
    <p style="margin-top: -5px"><a class="btn" href="#">BID</a></p>
</li>
<li data-id="id-11" data-type="util" data-types="tv" class="span3 span3a" style="margin-bottom: 10px;">
    <h2> LG Infinia 47-Inch 3D HDTV </h2>
    <img class="product" src="{{ STATIC_URL }}products/item3.jpg" /><hr/>
    <h1>20 seconds</h1>
    <h6>Tick time: <span>30 seconds</span></h6><hr/>
    <h5><img class="social" src="{{ STATIC_URL }}img/google-16x16.png" /><span style="font-size: 11px;">Someone</span></h5><hr/>
    <p style="margin-top: -5px"><a class="btn" href="#">BID</a></p>
</li>
<li data-id="id-12" data-type="util" data-types="tv" class="span3 span3a" style="margin-bottom: 10px;">
    <h2> LG Infinia 47-Inch 3D HDTV </h2>
    <img class="product" src="{{ STATIC_URL }}products/item3.jpg" /><hr/>
    <h1>20 seconds</h1>
    <h6>Tick time: <span>30 seconds</span></h6><hr/>
    <h5><img class="social" src="{{ STATIC_URL }}img/google-16x16.png" /><span style="font-size: 11px;">Someone</span></h5><hr/>
    <p style="margin-top: -5px"><a class="btn" href="#">BID</a></p>
</li>
<li data-id="id-13" data-type="app" class="span3 span3a" style="margin-bottom: 10px;">
    <h2>Asus Transformer Prime TF201 Mobile Docking</h2>
    <img class="product" src="{{ STATIC_URL }}products/item4.jpg" /><hr />
    <div class="progress progress-info progress-striped active">
        <div class="bar" style="width: 63%;">63%</div>
    </div><hr/>
    <div class="funded" style="height: 45px;">
        <h7 class="fundha"><span>$120</span>FUNDED</h7>
        <h7 class="fundhb"><span>24</span>BACKERS</h7>
    </div><hr/>
    <p style="margin-top: -5px"><a class="btn fund" data-toggle="modal" href="#fundModal">FUND</a></p>
</li>
<li data-id="id-14" data-type="app" class="span3 span3a" style="margin-bottom: 10px;">
    <h2>Asus Transformer Prime TF201 Mobile Docking</h2>
    <img class="product" src="{{ STATIC_URL }}products/item4.jpg" /><hr />
    <div class="progress progress-info progress-striped active">
        <div class="bar" style="width: 63%;">63%</div>
    </div><hr/>
    <div class="funded" style="height: 45px;">
        <h7 class="fundha"><span>$120</span>FUNDED</h7>
        <h7 class="fundhb"><span>24</span>BACKERS</h7>
    </div><hr/>
    <p style="margin-top: -5px"><a class="btn fund" data-toggle="modal" href="#fundModal">FUND</a></p>
</li>
<li data-id="id-15" data-type="app" class="span3 span3a" style="margin-bottom: 10px;">
    <h2>Asus Transformer Prime TF201 Mobile Docking</h2>
    <img class="product" src="{{ STATIC_URL }}products/item4.jpg" /><hr />
    <div class="progress progress-info progress-striped active">
        <div class="bar" style="width: 63%;">63%</div>
    </div><hr/>
    <div class="funded" style="height: 45px;">
        <h7 class="fundha"><span>$120</span>FUNDED</h7>
        <h7 class="fundhb"><span>24</span>BACKERS</h7>
    </div><hr/>
    <p style="margin-top: -5px"><a class="btn fund" data-toggle="modal" href="#fundModal">FUND</a></p>
</li>
<li data-id="id-16" data-type="app" class="span3 span3a" style="margin-bottom: 10px;">
    <h2>Asus Transformer Prime TF201 Mobile Docking</h2>
    <img class="product" src="{{ STATIC_URL }}products/item4.jpg" /><hr />
    <div class="progress progress-info progress-striped active">
        <div class="bar" style="width: 63%;">63%</div>
    </div><hr/>
    <div class="funded" style="height: 45px;">
        <h7 class="fundha"><span>$120</span>FUNDED</h7>
        <h7 class="fundhb"><span>24</span>BACKERS</h7>
    </div><hr/>
    <p style="margin-top: -5px"><a class="btn fund" data-toggle="modal" href="#fundModal">FUND</a></p>
</li>
<li data-id="id-17" data-type="app" class="span3 span3a" style="margin-bottom: 10px;">
    <h2>Asus Transformer Prime TF201 Mobile Docking</h2>
    <img class="product" src="{{ STATIC_URL }}products/item4.jpg" /><hr />
    <div class="progress progress-info progress-striped active">
        <div class="bar" style="width: 63%;">63%</div>
    </div><hr/>
    <div class="funded" style="height: 45px;">
        <h7 class="fundha"><span>$120</span>FUNDED</h7>
        <h7 class="fundhb"><span>24</span>BACKERS</h7>
    </div><hr/>
    <p style="margin-top: -5px"><a class="btn fund" data-toggle="modal" href="#fundModal">FUND</a></p>
</li>
<li data-id="id-18" data-type="app" class="span3 span3a" style="margin-bottom: 10px;">
    <h2>Asus Transformer Prime TF201 Mobile Docking</h2>
    <img class="product" src="{{ STATIC_URL }}products/item4.jpg" /><hr />
    <div class="progress progress-info progress-striped active">
        <div class="bar" style="width: 63%;">63%</div>
    </div><hr/>
    <div class="funded" style="height: 45px;">
        <h7 class="fundha"><span>$120</span>FUNDED</h7>
        <h7 class="fundhb"><span>24</span>BACKERS</h7>
    </div><hr/>
    <p style="margin-top: -5px"><a class="btn fund" data-toggle="modal" href="#fundModal">FUND</a></p>
</li>
<li data-id="id-19" data-type="app" class="span3 span3a" style="margin-bottom: 10px;">
    <h2>Asus Transformer Prime TF201 Mobile Docking</h2>
    <img class="product" src="{{ STATIC_URL }}products/item4.jpg" /><hr />
    <div class="progress progress-info progress-striped active">
        <div class="bar" style="width: 63%;">63%</div>
    </div><hr/>
    <div class="funded" style="height: 45px;">
        <h7 class="fundha"><span>$120</span>FUNDED</h7>
        <h7 class="fundhb"><span>24</span>BACKERS</h7>
    </div><hr/>
    <p style="margin-top: -5px"><a class="btn fund" data-toggle="modal" href="#fundModal">FUND</a></p>
</li>
<li data-id="id-20" data-type="app" class="span3 span3a" style="margin-bottom: 10px;">
    <h2>Asus Transformer Prime TF201 Mobile Docking</h2>
    <img class="product" src="{{ STATIC_URL }}products/item4.jpg" /><hr />
    <div class="progress progress-info progress-striped active">
        <div class="bar" style="width: 63%;">63%</div>
    </div><hr/>
    <div class="funded" style="height: 45px;">
        <h7 class="fundha"><span>$120</span>FUNDED</h7>
        <h7 class="fundhb"><span>24</span>BACKERS</h7>
    </div><hr/>
    <p style="margin-top: -5px"><a class="btn fund" data-toggle="modal" href="#fundModal">FUND</a></p>
</li>
</ul>