* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body .container {
	padding-top: 10px;
	-webkit-font-smoothing: antialiased;
}
.row.items .span3 {
	border-radius: 10px;
	border: 1px #EEEEEE solid;
	text-align: center;
}

.row.items .span3a {
	border-radius: 10px;
	border: 1px #EEEEEE solid;
	text-align: center;
}

.navbar-inner, .row.items .span3, .row.item .span9 {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0NSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wMiIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMDIiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 45%, rgba(0,0,0,0) 51%, rgba(0,0,0,0.02) 99%, rgba(0,0,0,0.02) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(45%,rgba(0,0,0,0)), color-stop(51%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.02)), color-stop(100%,rgba(0,0,0,0.02))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 45%,rgba(0,0,0,0) 51%,rgba(0,0,0,0.02) 99%,rgba(0,0,0,0.02) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 45%,rgba(0,0,0,0) 51%,rgba(0,0,0,0.02) 99%,rgba(0,0,0,0.02) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 45%,rgba(0,0,0,0) 51%,rgba(0,0,0,0.02) 99%,rgba(0,0,0,0.02) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(0,0,0,0) 45%,rgba(0,0,0,0) 51%,rgba(0,0,0,0.02) 99%,rgba(0,0,0,0.02) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#05000000',GradientType=0 ); /* IE6-8 */
}

.socialtip {
	position: absolute;
	top: -14px;
right: -12px;
	width: 20px;
	height: 20px;
	z-index: 1000;
	background-image: url(../img/click_bid.png);
}


.row.items .span3 img {
	display: inline-block;
}
.row.items .span3 img.product {
	width: 135px; 
	height: 135px;
}
.row.items .span3 img.social {
	margin-right: 8px;
	vertical-align: middle;
}

.row.items .span3 h2 {
	font-weight: normal;
	color: #343434;
	font-size: 14px;
	line-height: 16px;
	margin: 15px 14px 10px;
}

.row.items .span3 h6 { font-size: 10px; }

.row.items .span3 .progress {
	clear: both;
	width: 70%;
	margin: 12px 15%;
}

.row.items .span3 .progress .bar {
	background-color: #ffc2ca;
	color: #000;
}

.row.items .span3 .funded {
	font-size: 18px;
	color: #000;
	text-align: center;
}
.row.items .span3 .funded  {
	position: relative;
	font-size: 11px;
	padding: 5px 0;
	margin-bottom: 5px;
}
.row.items .span3 .funded span {
	display: inline-block;
	text-align: left;
	width: 90px;
}

.row.items .span3 .funded.one span { text-align: center; width: auto; }

.row.items .span3 .funded span strong {
	font-weight: normal;
	color: #999;
}
.page-header {
	padding-bottom: 0;
}
.page-header .pagination ul, .page-header .pagination li {
	width: 100%;
	text-align: center;
}
.page-header .pagination ul li a {
	width: 14.2%;
}
.page-header .pagination li.arrow a{
	width: 7.2%;
}
.navbar-inner {
	border-radius: 0;
	-webkit-border-radius:0;
	-webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.11), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.11), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 15px rgba(0, 0, 0, 0.11), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.navbar-inner .container {
	padding: 10px;
}
.navbar-search .search-query {
	padding: 15px 20px;
	border: 1px solid #CCC;
	background-color: #FFF;
}
.navbar-search {
	display: inline-block !important;
	border: none!important;
}
.navbar-search.pull-left {
	float:right !important;
}
.navbar-search .search-query.focused, .navbar-search .search-query:focus {
	padding: 15px 20px;
	border: 1px solid #CCC;
	background-color: #FFF;
}

.share-btn { float: right; }
.share-btn li {
	display: inline-block;
	position: relative;
	margin-right: 13px;
}

.logo {
	display: block;
	background-image: url(../img/exhibia_logo.png);
	width: 207px;
	height: 38px;
	float:left;
	margin: 0 0 10px 0;
	text-indent: -500px;
}

.alert {
	text-align: center;
	margin-bottom: 0;
}

.row.item .span9 {
	padding: 20px 15px;
}

.row.item .span3 {

}

.navbar-fixed-bottom {
	position: fixed;
	background-color: #FFF;
	bottom: -20px;
	right: 0;
	left: 0;
	z-index: 1030;
}
.navbar-fixed-bottom  .container {
	padding: 0;
}
.navbar-fixed-bottom .navchat {
	float: right;
}
.navbar-fixed-bottom .navbar-inner, .chat-box {
	-webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.31), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.31), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 20px rgba(0, 0, 0, 0.31), inset 0 -1px 0 r
}

.fbbar{
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none;
	box-shadow: none
}

.chat-box {
	display: none;
	position: absolute;
	bottom: 50px;
	right: 0;
	border: 1px #F9F9F9 solid;
	width: 250px;
	height: 200px;
	background-color: #FFF;
}
.navchat li > a {
	color: #333 !important;
}

.navchat li > a:hover{
	background-color: #CCC !important;
	color: rgb(80, 80, 80) !important;
}
.navchat li.active > a{
	background-color: #999 ;
	color: #7f7e7e!important ;
}
.navchat li.active.chat .chat-box {
	display: block;
}

.chat-box .container {
	display: block;
	padding: 10px;
	width: 100%;
	height: 162px;
	overflow-y: auto;
}

.chat-box ul {
	display: block;
	width: 100%;
}
.chat-box li {
	clear:both;
	padding: 5px 0;
	margin-bottom: 3px;
	border-bottom: 1px solid whiteSmoke;
}


.chat-box li strong {
	font-size: 12px;
}

.chat-box .type {
	position: absolute;
	bottom: 0; left: 0;
	width: 100%;
	background-color: whiteSmoke;
	border-top: 1px #999 solid;
}
.type form {
	margin: 0;
}
.type input {
	padding: 12px 10px;
	margin: 5px 10px 0 0;
}

.type .input-prepend .add-on, .input-append .add-on {
	margin-top: 5px;
	margin-left: 15px;
	height: 26px;
}
 .type p {
	margin-top: 5px;
	margin-left: 15px;
 }

.avatar {
	float: left;
	background-color: #999;
	width: 30px; height: 30px;
	margin: 3px 8px 3px 0;
	position: relative;
	padding: 0;
}
.avatar.next-to {
	float: none;
	display: inline-block;
	vertical-align: bottom;
	margin: 3px 5px 3px 0;
}
.avatar .ico {
	position: abolute !important;
	bottom: 3px; left: 3px;
	width: 8px; height: 8px;
	display: block;
}

.avatar .ico.g {
	background-image: url("../img/google-min.png");
}
.avatar .ico.t {
	background-image: url("../img/twitter-min.png");
}
.avatar .ico.f {
	background-image: url("../img/facebook-min.png");
}

.tw-login, .gp-login, .fb-login { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin: 6px 10px 7px 0;  background-position: 10px 2px;}

ul.woitms, .won-itmsm{
 position: relative;

}

.bids-lft{
 -moz-border-radius: 5px; 
 -webkit-border-radius: 5px; 
 border-radius: 5px; 
 margin: 6px 10px 7px 0;
 height: 30px;
 width:120px;
 position: relative;
 float: right;
 right: -90px;
}
.won-itms{
 -moz-border-radius: 5px; 
 -webkit-border-radius: 5px; 
 border-radius: 5px; 
 margin: 6px 10px 7px 0;
 height: 30px;
 width:110px!important;
 position: relative;
 float: right;
 right: -90px;
}

.won-itms a{
	margin-top: -5px;
	color: #fff!important;
}

.won-itmsm{
 -moz-border-radius: 5px; 
 -webkit-border-radius: 5px; 
 border-radius: 5px; 
 margin: 6px 10px 7px 0;
 height: 30px;
 width:120px!important;
 position: relative;
 float: right;
 right: -90px;
}

.won-itmsm a{
	margin-top: -5px;
	color: #fff!important;
}

.bids-lft span{
	margin-left: 10px;
   -webkit-border-radius: 25px;
	background: #fff;
	color: #2f96b4;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 2px;
	padding-bottom: 2px;

}

.won-itms a span, .won-itmsm a span{
	margin-left: 10px;
   -webkit-border-radius: 25px;
	background: #fff;
	color: #a5150e;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 2px;
	padding-bottom: 2px;

}


.won-itms a:hover, .won-itmsm a:hover{
	margin-top: -5px;
}

.btn-procordr{
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
 -moz-border-radius: 5px; 
 -webkit-border-radius: 5px; 
 border-radius: 5px; 
 margin: 6px 10px 7px 0;
 padding: 12px;
float: right;
margin-top: -17px;
}

.chtgl {
	color: #000!important
}

#chat-toggle{
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #ccc;
 -moz-border-radius: 5px; 
 -webkit-border-radius: 5px; 
 border-radius: 5px; 
 margin: 6px 10px 7px 0;
 padding-top: 5px;
 height: 31px;
float: right;
margin-top: 5px;
margin-left: 10px;

}

.btn-devar{
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
 -moz-border-radius: 5px; 
 -webkit-border-radius: 5px; 
 border-radius: 5px; 
 margin: 6px 10px 7px 0;
 padding: 12px;
float: right;
margin-top: -17px;
}

.btn-feded{
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
 -moz-border-radius: 5px; 
 -webkit-border-radius: 5px; 
 border-radius: 5px; 
 margin: 6px 10px 7px 0;
 padding: 12px;
float: right;
margin-top: -17px;

}

.btn-devar, .btn-procordr, .btn-feded{
	color: #fff;
}

.btn-devar:hover, .btn-procordr:hover, .btn-feded:hover{
	color: #fff;
	text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bids-lft{
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #ccc;
  color: #000;
  padding: 7px;
}

.won-itms, .won-itmsm{
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.tw-login a, .gp-login a, .fb-login a {padding:5px 10px 5px 40px !important; text-align: center;}

.tw-login a { color: #FFF!important; background: url("../img/twitter.png") no-repeat;}
.fb-login a { color: #FFF!important; background: url("../img/facebook.png") no-repeat;}
.gp-login a { background: url(../img/googleplus.png) no-repeat;}

.nav.share .tw-login a, .nav.share .fb-login a, .nav.share .gp-login a {padding:3px 10px !important; background-image: none; width: 160px;}
.nav.share li img { vertical-align: middle; }

.tw-login {
	border: 1px solid  rgb(64,132,253);
	background: rgb(135,224,253);
	background: -moz-linear-gradient(top, rgba(135,224,253,1) 0%, rgba(83,203,241,1) 40%, rgba(5,171,224,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(135,224,253,1)), color-stop(40%,rgba(83,203,241,1)), color-stop(100%,rgba(5,171,224,1)));
	background: -webkit-linear-gradient(top, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%);
	background: -o-linear-gradient(top, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%);
	background: -ms-linear-gradient(top, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%);
	background: linear-gradient(top, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 );
}
.gp-login {
	border: 1px solid #000;
	background: rgb(63,72,77);
	background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	background: linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
}
.fb-login {
	border: 1px solid rgb(45, 75, 96);
	background: rgb(138,187,215);
	background: -moz-linear-gradient(top, rgba(138,187,215,1) 0%, rgba(6,109,171,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(138,187,215,1)), color-stop(100%,rgba(6,109,171,1)));
	background: -webkit-linear-gradient(top, rgba(138,187,215,1) 0%,rgba(6,109,171,1) 100%);
	background: -o-linear-gradient(top, rgba(138,187,215,1) 0%,rgba(6,109,171,1) 100%);
	background: -ms-linear-gradient(top, rgba(138,187,215,1) 0%,rgba(6,109,171,1) 100%);
	background: linear-gradient(top, rgba(138,187,215,1) 0%,rgba(6,109,171,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8abbd7', endColorstr='#066dab',GradientType=0 );
}
.well {
	position: relative;
}
.fund-big {
	cursor: pointer;
	text-align: center;
	color:#FFF;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 15px 20px;
	line-height: 18px;
	background-color: #b72056;
	font-size: 18px;
	position: absolute;
	bottom: 0; left: 0;
	width: 100%;
	-webkit-box-shadow: inset 0 0 8px rgba(0,0,0, 0.35);
	box-shadow: inset 0 0 8px rgba(0,0,0, 0.35);
	text-decoration: none !important;
}

.fund-big:hover {
	background-color: #d70f56;
}

.btn-extrabig {
	width: 58px;
	padding: 12px 0;
	font-size: 16px;
	margin: 0 5px 10px 0;
	text-align: center;
}

.items hr {
	margin: 8px 0;
}

.video-upload {
	border: 3px dashed #CCC;
	text-align: center;
}

.backitm{
	-moz-border-radius: 5px; 
 	-webkit-border-radius: 5px; 
 	border-radius: 5px; 
	background-color: #f5f5f5;
	padding: 10px;	
	-webkit-box-shadow: inset 0 0 8px rgba(0,0,0, 0.35);
	box-shadow: inset 0 0 8px rgba(0,0,0, 0.35);
}

/* NEW */

ul#nav2 {
}

#nav2 li {
	float:left;
	background:#fff;
}
#nav2 a span{
	background: #b11717;
	margin-left: 10px;
   -webkit-border-radius: 6px;
	padding-left: 7px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#nav2 a:hover span{
	margin-left: 10px;
   -webkit-border-radius: 6px;
	background: #da5858;
	padding-left: 7px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;

}

#nav2 a {
	background:#e26060;
	color: #fff;
}
#nav2 a:hover {background: #c02525;color:white}
ul#nav2 li.active a{background: #fff; color: #585859;}

#nav2 li.active a span{
	background: #fc1818;
	color: #fff;

}

#nav2 li.active a:hover span{
	background: #da5858;
	color: #fff;

}

ul#nav2 li.last a{border-right:2px solid silver;}
* html ul#nav2 li.last{width:auto;}

.bidbacklist{
	padding: 5px;
}

.bidbacklist p img{
	float: left;
	margin-right: 10px;
			
}

li.span3{
	width: 186px!important;
	height: 300px;
	margin-left: 1px!important;
	float: left;
}

li.span3 h2{
	font-size: 12px!important;
	height: 30px;
}

li.span3 h1{
	font-size: 16px;
	margin-top: -10px;	
}

li.span3 img.product{
	width: 80px!important;	
	height: 80px!important;	
}

li.span3 .funded{
	margin-top: -10px;
}


ul.sortthis{
	list-style-type: none;
	margin-top: 15px;
	position: absolute;
	right: 10px;
}


ul.sortthis li{
	float: left;
	width: 80px;
	margin-right: 6px;
/*    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #ccc;
   -moz-border-bottom-left-radius: 5px; 
   -webkit-border-bottom-left-radius: 5px; 
    border-bottom-left-radius: 5px; 
   -moz-border-bottom-right-radius: 5px; 
   -webkit-border-bottom-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
*/	padding: 4px;
	cursor: pointer;
	position: relative;
	display: block;
	height: 28px;
	text-align: right;
	
}

li.span3a{
	width: 201px;
	margin-left: 5px!important;
	height: 285px;
	background-color: #fff!important;
}

li.span3a:hover{
/*	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
*/	z-index: 999;
	box-shadow: 0px 0px 4px #dd658a;
	-moz-transition: -moz-transform 0.4s ease-out;
	-webkit-transition: -webkit-transform 0.4s ease-out;
	transition: transform 0.4s ease-out;
}

li.span3a h2{
	font-size: 12px!important;
	height: 30px;
}

li.span3a h1{
	font-size: 16px;
	margin-top: -10px;	
}

li.span3a img.product{
	width: 80px!important;	
	height: 80px!important;	
}

li.span3a .funded{
	margin-top: -10px;
}

.image-grid{
	width: auto;
	min-width: 990px;
	
	
}

.hedr{
	position: fixed;
	background-color: #fff;
	width: 100%;
	top: 0px;
	z-index: 999
}

.hdrmenu{
	margin-top: 27px;
	margin-left: 240px;
	position: absolute;
}

a.dropdown-toggle{
	color: #000!important	
}

a.dropdown-toggle:hover{
	color: #d30746!important	
}
.nav-tabs .dropdown-toggle .caret, .nav-pills .dropdown-toggle .caret {
  border-top-color: d30746!important;
  margin-top: 6px;
}

.nav-pills .active > a, .nav-pills .active > a:hover {
  color: #ffffff;
  background-color: #d30746!important;
}

.nav-list .active > a, .nav-list .active > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #d30746!important;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover, a.lbd:hover {
  color: #fff!important;
  text-decoration: none;
  background-color: #d30746!important;
}
li.slct label:hover{ color: #fff!important; cursor: pointer }


.fbg5{
 -moz-border-radius: 5px; 
 -webkit-border-radius: 5px; 
 border-radius: 5px; 
 height: 27px;
 width: 130px!important;
 position: relative;
 padding: 3px;
 float: right;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #ccc;
}

ul.mainsort{
	list-style-type: none;
	margin-top: -15px;
	position: relative;
	float: right;
}

ul.mainsort li{
	float: left;
	width: 80px;
	margin-right: 6px;
/*    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #ccc;
   -moz-border-bottom-left-radius: 5px; 
   -webkit-border-bottom-left-radius: 5px; 
    border-bottom-left-radius: 5px; 
   -moz-border-bottom-right-radius: 5px; 
   -webkit-border-bottom-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
*/	padding: 4px;
	cursor: pointer;
	position: relative;
	display: block;
	height: 28px;
	text-align: right;
	
}

h7.fundha{
	margin-top: 13px;
	float: left;
	padding: 0px;
	text-align: left;
	width: 80px;
	position: relative;
	color: #a6a6a6;
	margin-left: 2px;
}


h7.fundhb{
	margin-top: 13px;
	float: right;
	padding: 0px;
	text-align: right;
	width: 80px;
	position: relative;
	color: #a6a6a6;
	margin-right: 2px;
}


h7.fundha span, h7.fundhb span{
	display: inline!important;
	margin-right: 5px;
	color: #178ed9;
	font-weight: bold;

}

.bidtm{
	border: 1px solid #c0c0c0;
	border-bottom: none;
	width: 350px;
	height: 40px;
	display: block;
	float: left;
	margin-left: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	position: fixed;
	background: #fff;
	bottom: 0px;
}

.bidtm .biddtm{
  width: 70px;
  float: right;
  margin-right: 3px;
  margin-top: 3px;
  color: #fff;
  font-size: 33px;
  height: 33px;
  padding: 6px;
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border-radius: 5px;
}

.bidtm .ticktm{
	height: 33px;
	float: left;
	width: 210px;
	text-align: center;
	display: block;
	margin-top: 3px;
	font-size: 22px;
	font-weight: bold;
}

.bidtm .ticktm span{
	font-size: 11px;
	color: #b5b3b3;
	display: block
}

.avtm{
	float: left;
	width: 50px;
	padding-left: 3px;
	padding-top: 2px;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border-radius: 5px;
}

.avtm span {
	font-size: 10px;
}


.fundtm{
	border: 1px solid #c0c0c0;
	border-bottom: none;
	width: 350px;
	height: 40px;
	display: block;
	float: right;
	margin-right: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	position: fixed;
	background: #fff;
	bottom: 0px;
	right: 10px;
}

.fundtm .biddtm a{
  width: 90px;
  float: right;
  margin-right: 3px;
  margin-top: 3px;
  color: #fff;
  font-size: 29px;
  text-decoration: none;
  height: 33px;
  padding: 6px;
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border-radius: 5px;
}


.fundtm .ticktm{
	height: 33px;
	float: left;
	width: 210px;
	text-align: center;
	display: block;
	margin-top: 5px;
	margin-left: 22px;
	font-size: 22px;
	font-weight: bold;
}


.fundtm .ticktm h7.fundha{
	float: left;
	padding: 0px;
	text-align: left;
	width: 80px;
	position: relative;
	color: #a6a6a6;
	margin-left: 2px;
	font-size: 10px;
}


.fundtm .ticktm h7.fundhb{
	float: right;
	padding: 0px;
	text-align: right;
	width: 80px;
	position: relative;
	color: #a6a6a6;
	margin-right: 2px;
	font-size: 10px;
}


.ticktm h7.fundha span, .ticktm h7.fundhb span{
	display: inline!important;
	margin-right: 5px;
	color: #178ed9;
	font-weight: bold;

}

.socialtip {
	position: absolute;
	top: -5px;
	right: 0;
	width: 20px;
	height: 20px;
	z-index: 1000;
	background-image: url(../img/click_bid.png);
}

.itemsocial{
	position: absolute;
	margin-top: -32px;
	margin-left: 430px;
}

.itemfb{
	width: 53px;
	height: 100px;	
}
