{% extends 'site_base.html' %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block body %}
	<h1>{% trans "My Account "%}</h1><hr>
	<div class="row">
		<div class="span1">
    		<img src="{{ member.img_url }}"/>
		</div>
		<div class="span4">
			<ul class="unstyled">
	   		 	<li><h3>{{ request.user.first_name }} {{ request.user.last_name }}
	   		 		{% if member.verified %}
        				<span class="badge badge-success">{% trans "Verified" %}</span>
    				{% else %}
        				<span class="badge badge-inverse">{% trans "Not Verified" %}</span>
    				{% endif %}</h3></li>
				<li>{{ request.user.username }}</li>
				<li>{% trans "Bids left" %}: {{ member.credits }}</li>
			</ul>
		</div>
		<div class="span4">
			<ul class="unstyled">
		    	<li><a href="{% url account_shipping %}">Manage your shipping</a></li>
    			<li><a href="{% url account_billing %}">Manage your Billing</a></li>
    			<li><a href="{% url account_payments %}">Manage your payments methods</a></li>
                {% if not_associated %}
                    <li>Associate your account with
                    {% if not social_auth.facebook %}
                        <a href="{% url socialauth_begin backend="facebook" %}">Facebook</a>
                    {% endif %}
                    {% if not social_auth.twitter %}
                        <a href="{% url socialauth_begin backend="twitter" %}?{{ redirect_querystring }}">Twitter</a>
                    {% endif %}
                    {% if not social_auth.google_oauth2 %}
                    <a href="{% url socialauth_begin backend="google-oauth2" %}">Google+</a>
                    {% endif %}
                    and get point reward !
                    </li>
                {% endif %}
                {% if associated %}
                    <li>Invite Your friends on {% if "facebook" in associated %}<a href="#" class="facebook_invite">Facebook</a>{% endif %}
                    </li>
                {% endif %}
    		</ul>
    	</div>
	</div><hr>
  	<h4>{% trans "Waiting Payments" %}</h4>
	<div class="container white-bg">
		<table class="table table-striped">
			<thead>
                <tr>
                  <th>Product Name</th>
                  <th></th>
                  <th>Actions</th>
                </tr>
              </thead>
            <tbody>
	 		{% for auction in auctions_waiting_payment %}
				<tr>
				    <td>
			    		<div class="span1"><img width="64" height="64" src="{{ auction.item.image.img.url }}"></div>
				    </td>
                    <td><div class="span3"><b>{{ auction.item.name }}</b></div></td>
				    <td>
                        {% if auction.order and auction.order.is_processing %}
                            <a href="{% url checkout_review_order auction.order.pk %}">Review order</a>
                        {% else %}
                            <a href="{% url checkout_shipping auction_pk=auction.pk %}">Order shipping</a>
                        {% endif %}
				    </td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
    </div>
    <hr>
    <h4>Processing / Shipped</h4>
    <div class="container white-bg">
    	<table class="table table-striped">
		</table>
    {% for auction in auctions_processing_shipped %}

    {% endfor %}
	</div>
	<hr>
    <h4>Record Testimonial</h4>
    <div class="container white-bg">
    {% for auction in auctions_record_testimonial %}
    {% endfor %}
	</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
    window.user_is_logged = '{{request.user.is_authenticated}}';
    window.facebook_appId = '{{settings.FACEBOOK_APP_ID}}';
</script>
{{block.super}}
<script type="text/javascript">
$(document).ready(function(){
    $('a.facebook_invite').on('click', function(){
        FB.ui({
            method: 'apprequests',
            title: 'Invitation to exhibia',
            message:"I'm inviting you to join me on exhibia"
            }, function(data){
                $.ajax({
                  type: "POST",
                  url: '{% url add_invitation %}',
                  data: data,
                });
        });
        return false;
    });
});
</script>
{% endblock extra_js %}
