{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/admin.css"/>
    <script src="{{ STATIC_URL }}js/admin.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}/js/libs/jquery-1.6.2.min.js"><\/script>')</script>
    <script type="text/javascript">
        var socket = null;
        $(document).ready(function(){
            function update(){
                $.post("{% url matic_status %}", {}, function(data){
                    data = $.parseJSON(data);
                    console.log(data);
                    items = new Items(data);
                    admin_update_auctions_ui(data);
                });
            }
            setInterval(update, 1000);

            $(".auction_bidding_time").live("click", function(event){
                auction_id = $(event.target).attr('rel');
                time = prompt("bidding time", $(event.target).text());
                url = "{% url matic_change_bidding_time 1 2 %}"
                url = url.replace("1", auction_id).replace("2", time);
                $.post(url, function(data){});
            });

            $(".auction_status").live("click", function(event){
                event.preventDefault();
                auction_id = $(event.target).attr('rel');
                url = "{% url matic_change_status 1 %}";
                url = url.replace("1", auction_id);
                $.post(url, function(data){
                    console.log(data);
                });
            });

            $("#pause_all").click(function(event){
                $.post("{% url matic_pause_all %}", {}, function(data){
                });
            });

            $("#resume_all").click(function(event){
                $.post("{% url matic_resume_all %}", {}, function(data){
                });
            });

        });
    </script>

{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    <a href="#" id="pause_all">Pause All</a>
    <a href="#" id="resume_all">Resume All</a>
<div class="module">
        <table summary="Auctions running">
        <caption><a href=""class="section">Auctions</a></caption>
        <thead>
            <tr>
                <th>&nbsp</th>

                <th>timer</th>

                <th>ticktime</th>

                <th>bidder</th>

                <th>userbid</th>

                <th>backers</th>

                <th>running</th>

                <th>price</th>

                <th>funded</th>

            </tr>
        </thead>
        <tbody>

        {% for auction in auctions %}
            <tr>
            <th scope="row"><a target="_blank" href="{% url auction_item auction.item.slug_name %}?item={{ auction.id }}" ><img class="product" height="24" width="24" src="{{ auction.item.image.img.url }}" />{{ auction.item.name }}</a></th>
            <td id="timer_{{ auction.id }}">{{ auction.time_left }}</td>
            <td id="bidding_time_{{ auction.id }}" class="auction_bidding_time" rel="{{ auction.id }}">{{ auction.bidding_time }}</td>
            <td id="last_bidder_{{ auction.id }}">{{ auction.last_bidder }}</td>
            <td id="usersbid_{{ auction.id }}">1</td>
            <td id="backers_{{ auction.id }}">{{ auction.backers_history.count }}</td>
            <td>
                <input type="checkbox" rel="{{ auction.id }}" id="status_{{ auction.id }}" class="auction_status"/>
            </td>
            <td>{{ auction.item.price }}</td>
            <td id="funded_{{ auction.id }}">{{ auction.funded|floatformat:0 }}</td>
            <!--<td><a href="#" rel="{{ auction.id }}" class="auction_bid">bid</a></td>-->
            </tr>
        {% endfor %}
        </tbody>
        </table>
</div>
</div>
{% endblock %}

